In [16]:
import pandas as pd

In [ ]:
import camelot

pdf_path = "ticket-english-5-11-2024-1_updated.pdf"
tables = camelot.read_pdf(pdf_path, pages="1-end")  # or specific page if needed

# Each index in 'tables' is a table found on a page
for i, table in enumerate(tables):
    print(f"Table {i} on page {table.page}:")
    print(table.df)  # This is a pandas DataFrame

c:\Users\mosai\anaconda3\envs\camelot_env\lib\site-packages\pypdf\_crypt_providers\_cryptography.py:32: CryptographyDeprecationWarning: ARC4 has been moved to cryptography.hazmat.decrepit.ciphers.algorithms.ARC4 and will be removed from cryptography.hazmat.primitives.ciphers.algorithms in 48.0.0.
  from cryptography.hazmat.primitives.ciphers.algorithms import AES, ARC4

Table 0 on page 1:
                                                 0  \
0                                Cairo Governorate
1
2
3                   Salah al-Din al-Ayyubi Citadel
4                              Baron Empain Palace
5                             Panorama of the Roof
6                                 AI-Mu'izz Street
7    Madrasa of Sultan Hassan & Al-Rifaâ€™i \nMosque
8                                  Bayt al-Suhaymi
9                                      Bab Zuwayla
10  Madrasa- Mosque of Muhammad Abu  \n \nal-Dahab

                                          1        2        3        4  \
0   The Islamic, Coptic, Jewish antiquities
1                             Ticket prices
2                                  Egyptian  Student  Foreign  Student
3                                        60       30      550      275
4                                        60       30      220      110
5                                        30       30      120      120
6                                        20       10      220      110
7                                         -        -      220      110
8                                        10        5      220      110
9                                        10        5      100       50
10                                       10        5      100       50

                        5
0
1          Visiting times
2
3   From 8:00am to 5:00pm
4   From 9:00am to 6:00pm
5
6   From 9:00am to 5:00pm
7   From 9:00am to 5:00pm
8   From 9:00am to 5:00pm
9   From 9:00am to 5:00pm
10  From 9:00am to 5:00pm
Table 1 on page 2:
                                                    0  \
0
1                            T\nhe Mawlawiyya Takiyya
2   Al-Ghuri Complex, The dome, The Sabil \nand Th...
3                                  Wikala of al-Ghuri
4                     Jamal Al-Din Al-Dhahabi's house
5                                     Ali Labib House
6                                  House of al-Harawy
7                      Sabil-Kuttab of Sultan Qaitbay
8                                   Prince Taz Palace
9                                House of Sitt Wasila
10                                Mosque of ibn Tulun
11                                          Nilometer
12                                             Fustat
13                               Al-Manasterly Palace
14                    Sabil-Kuttab of Nafisa al-Bayda

                          1   2    3   4                      5
0
1                        10   5  100  50  From 9:00am to 5:00pm
2                        10   5  150  75  From 9:00am to 5:00pm
3                        10   5  100  50  From 9:00am to 5:00pm
4                        10   5   30  15  From 9:00am to 5:00pm
5                        10   5  100  50  From 9:00am to 5:00pm
6                        10   5  100  50  From 9:00am to 5:00pm
7                        10   5  100  50  From 9:00am to 5:00pm
8                         -   -    -   -  From 9:00am to 5:00pm
9                        10   5  100  50  From 9:00am to 5:00pm
10                        -   -    -   -  From 9:00am to 5:00pm
11                       20  10  120  60  From 9:00am to 5:00pm
12                       10   5   20  10  From 9:00am to 5:00pm
13  Within Nilometer Ticket               From 9:00am to 5:00pm
14         10 \n5 \n60 \n30               From 9:00am to 5:00pm
Table 2 on page 3:
                                                    0   1   2    3    4  \
0                                                   T
1      ombs of Muhammad Ali Family  \n(Hosh al-Basha)  10   5   40   20
2                                           Mary Tree  10   5  120   60
3                                  The Hanging Church   -   -    -    -
4                                    Abu Serga Church   -   -    -    -
5                                  Ben Ezra Synagogue   -   -    -    -
6                             Mosque of Amr ebn al-As   -   -    -    -
7                       Al-Darb al-Ahmar Vistor Route  20  10  120   60
8           The Egyptian, Greek and Roman Antiquities
9   Obelisk of Senwosret I  \n10 \n5 \n200 \n100 \...
10                                            Museums
11                       The Egyptian Museum in Cairo  30  10  550  275
12                  Audio guide (The Egyptian Museum)  30  30   75   75
13                              Museum of Islamic Art  20  10  340  170
14                                      Coptic Museum  20  10  280  140

                        5
0
1   From 9:00am to 5:00pm
2   From 9:00am to 5:00pm
3   From 9:00am to 4:00pm
4   From 9:00am to 4:00pm
5   From 9:00am to 4:00pm
6   From 9:00am to 4:00pm
7   From 9:00am to 5:00pm
8
9
10
11  From 9:00am to 5:00pm
12
13  From 9:00am to 5:00pm
14  From 9:00am to 5:00pm
Table 3 on page 4:
                                              0  \
0                                             M
1            anial (Prince Muhammad Ali) Palace
2    Cairo International Airport  \nMuseums (2(
3    Cairo International Airport  \nMuseums (3)
4                        Royal Carriages Museum
5      Helwan Corner Museum (Farouk's \nCorner)
6                         Gayer-Anderson Museum
7   National Museum of Egyptian  \nCivilization
8                              Giza Governorate
9                               Giza Necropolis
10                             Pyramid of Khufu
11                            Pyramid of Khafre

                                            1   2          3    4  \
0
1                                          20   5        220  110
2                                   5 Dollars      5 Dollars
3                                   5 Dollars      5 Dollars
4                                          30  10        300  150
5                                          20  10        100   50
6                                          10   5        100   50
7                                          80  40        500  250
8   The Egyptian, Greek and Roman Antiquities
9                                          60  30        700  350
10                                        100  50       1000  500
11                                         30  10        280  140

                                                    5
0
1                               From 9:00am to 5:00pm
2                                            24 hours
3                                            24 hours
4                               From 9:00am to 5:00pm
5                               From 9:00am to 3:00pm
6                               From 9:00am to 3:00pm
7   From 9:00am to 5:00pm \n               Friday ...
8
9                               From 7:00am to 5:00pm
10  From 7:00am to 5:00pm \nClosed from 12:00 pm t...
11                              From 7:00am to 5:00pm
Table 4 on page 5:
                                                    0  \
0
1                                 Pyramid of Menkaure
2   The Sphinx \n)Private visits only + Site openi...
3                               Tomb of Meresankh III
4                                   Worker's Cemetery
5             Parking Tickets in the Pyramids of Giza
6                             Saqqara & Dahshur Sites
7   Saqqara Area \n \n(Includes Pyramid of Djoser ...
8   Step Pyramid Complex from the Southern \nEntrance
9   Noblemen's Tomb &New Kingdom \nTombs in  the H...
10                                           Serapeum
11                                   Tomb of Mereruka

                                           1   2    3    4  \
0
1                                         30  10  280  140
2                                        200
3                                     20 \n5      200  100
4                                                 400  200
5   Car EGY 25â€“ Minibus EGY 75 â€“ Bus EGY 100
6
7                                         30  10  600  300
8                                         40  20  280  140
9                                         20  10  400  200
10                                        20   5  340  170
11                                        20   5  200  100

                                              5
0
1                         From 7:00am to 5:00pm
2                After official working \nhours
3                         From 7:00am to 5:00pm
4   From 7:00am to 5:00pm \n(Minimum 5 tickets)
5
6
7                         From 8:00am to 5:00pm
8                         From 8:00am to 5:00pm
9                         From 8:00am to 5:00pm
10                        From 8:00am to 5:00pm
11                        From 8:00am to 5:00pm
Table 5 on page 6:
                                            0  \
0
1                           The Southern Tomb
2                Ticket for all Saqqara Tombs
3         Parking Tickets in the Saqqara Site
4                                     Dahshur
5                                  Mit Rahina
6
7               Parking Tickets in Mit Rahina
8                             Bahariyya Oasis
9                                  Alexandria
10                            Qaitbay Citadel
11               Abu Mena Archaeological Site
12  The Egyptian, Greek and Roman Antiquities
13                            Pompeyâ€™s Pillar
14                Kom al-Dekka (Amphitheater)

                                            1   2     3    4  \
0
1                                          40  20   300  150
2                                                  1000  500
3    Car EGY 25 â€“ Minibus EGY 75â€“ Bus EGY 100
4                                          10   5   200  100
5                                          10   5   200  100
6
7    Car EGY 25â€“ Minibus EGY 75 â€“ Bus EGY 100
8   10 \n5 \n100 \n50 \nFrom 8:00am to 4:00pm
9     The Islamic, Coptic, Jewish antiquities
10                                         60  30   200  100
11                                          -   -     -    -
12
13                                         20   5   200  100
14                                         20  10   200  100

                        5
0
1   From 8:00am to 5:00pm
2   From 8:00am to 5:00pm
3
4   From 8:00am to 5:00pm
5   From 8:00am to 5:00pm
6
7
8
9
10  From 9:00am to 7:00pm
11  From 7:00am to 7:00pm
12
13  From 9:00am to 5:00pm
14  From 9:00am to 5:00pm
Table 6 on page 7:
                                0                                           1  \
0                  Kom al-Shuqafa                                          30
1             Mustafa Kamel Tombs                                          10
2                      Al-Anfushy                                          10
3              El-Shatby Cemetery                                          20
4          Underwater Antiquities                                          35
5                         Museums
6   National Museum of Alexandria                                          20
7          Royal Jewellery Museum                                          20
8              Greco-Roman Museum                                          40
9                            Suez                                     Museums
10        National Museum of Suez  20 \n10 \n180 \n90 \nFrom 9:00am to 3:00pm
11                       Ismailia                                     Museums
12                Ismailia Museum   10 \n5 \n100 \n50 \nFrom 9:00am to 3:00pm
13                  Marsa Matrouh   The Egyptian, Greek and Roman Antiquities

     2    3    4                      5
0   10  200  100  From 9:00am to 5:00pm
1    5  100   50  From 9:00am to 5:00pm
2    5  100   50  From 9:00am to 5:00pm
3   10  100   50  From 9:00am to 5:00pm
4   35  180   90  From 9:00am to 5:00pm
5
6    5  220  110  From 9:00am to 5:00pm
7    5  220  110  From 9:00am to 5:00pm
8   20  400  200  From 9:00am to 5:00pm
9
10
11
12
13
Table 7 on page 8:
                             0                                        1   2  \
0
1            Temple of Aghurmi                                       10   5
2      Tombs of Gabal al-Mawta                                       10   5
3                      Museums
4                Matruh Museum                                       20  10
5         Rommel's Cave Museum                                       10   5
6                   Al Beheira  The Islamic, Coptic, Jewish antiquities
7       Rosetta City Monuments                                       10   5
8   Qaitbay Citadel in Rosetta                                       10   5
9        Monastery of St Pshoi                                        -   -
10    Monastery of the Syrians                                        -   -
11     Monastery of al-Baramus                                        -   -

      3   4                                                  5
0
1   120  60                              From 9:00am to 5:00pm
2   120  60                              From 9:00am to 5:00pm
3
4   180  90  From 9:00am to 3:00pm \nFrom 5:00pm to 10:00pm...
5   100  50                              From 9:00am to 3:00pm
6
7   120  60                              From 8:30am to 4:00pm
8    30  15                              From 8:30am to 4:00pm
9     -   -                              From 8:00am to 5:00pm
10    -   -                              From 8:00am to 5:00pm
11    -   -                              From 8:00am to 5:00pm
Table 8 on page 9:
                                0  \
0        Monastery of St Macarius
1                  Kafr al-Sheikh
2           Kafr al-Sheikh Museum
3                         Gharbia
4                    Tanta Museum
5                    Al-Sharqiyya
6                      Tell Basta
7
8   Parking Tickets in Tell Basta
9            Tanis (San al-Hagar)
10                        Museums
11              Tell Basta Museum
12                         Fayoum

                                                   1  2    3   4  \
0                                                  -  -    -   -
1                                            Museums
2       20 \n10 \n220 \n110 \n From 9:00am to 4:00pm
3                                            Museums
4        20 \n10 \n150 \n75 \n From 9:00am to 3:00pm
5          The Egyptian, Greek and Roman Antiquities
6                                                 10  5  150  75
7
8           Car EGY 25â€“ Minibus EGY 75 â€“ Bus EGY 100
9                                                 10  5  120  60
10
11  Within Tell Basta Ticket \nFrom 9:00am to 3:00pm
12         The Egyptian, Greek and Roman Antiquities

                                                    5
0                               From 8:00am to 5:00pm
1
2
3
4
5
6   From 9:00am to 6:00pm \nSummer \nFrom 9:00am t...
7
8
9   From 9:00am to 6:00pm \nSummer \nFrom 9:00am t...
10
11
12
Table 9 on page 10:
                                                    0  \
0                                          Qasr Qarun
1                                      Hawara Pyramid
2                                    Al-Lahun Pyramid
3                                             Karanis
4                                        Medinet Madi
5                                             Museums
6                                   Kom Aushim Museum
7                                           Beni Suef
8                                   Pyramid of Meidum
9                                            EL Minya
10                                      Zawyet Sultan
11                                         Al-Bahnasa
12                                      Gabal al-Tayr
13          The Egyptian, Greek and Roman Antiquities
14  20 \n10 \n200 \n100 \nFrom 8:00am to 5:00pm \n...

                                            1   2    3   4  \
0                                          10   5  150  75
1                                          10   5  150  75
2                                          10   5  150  75
3                                          10   5  150  75
4                                          10   5  120  60
5
6   10 \n5 \n100 \n50 \nFrom 9:00am to 3:00pm
7   The Egyptian, Greek and Roman Antiquities
8   10 \n5 \n150 \n75 \nFrom 8:00am to 5:00pm
9     The Islamic, Coptic, Jewish antiquities
10                                         20  10  100  50
11                                          -   -    -   -
12                                          -   -    -   -
13
14

                        5
0   From 8:00am to 5:00pm
1   From 8:00am to 5:00pm
2   From 8:00am to 5:00pm
3   From 8:00am to 5:00pm
4   From 8:00am to 5:00pm
5
6
7
8
9
10  From 8:00am to 5:00pm
11  From 9:00am to 5:00pm
12  From 9:00am to 5:00pm
13
14
Table 10 on page 11:
                            0                                          1   2  \
0              Tell al-Amarna                                         20  10
1              The Royal Tomb                                         20  10
2                Fraser Tombs                                         20  10
3         Tombs of Beni Hasan                                         20  10
4                     Museums
5              Mallawi Museum  10 \n5 \n120 \n60 \nFrom 9:00am to 3:00pm
6                       Asyut  The Egyptian, Greek and Roman Antiquities
7               Tombs of Meir                                         10   5
8      Tombs of al-Hammamiyya                                         10   5
9            Deir al-Muharraq                                          -   -
10  New Valley \nDakhla Oasis  The Egyptian, Greek and Roman Antiquities
11      Tombs of al-Muzawwaqa                                         10   5
12   Qila al-Dabba & Ayn Asil                                         10   5
13    Temple of Deir al-Hagar                                         10   5

      3    4                      5
0   200  100  From 8:00am to 5:00pm
1   120   60  From 8:00am to 5:00pm
2   100   50  From 8:00am to 5:00pm
3   200  100  From 8:00am to 5:00pm
4
5
6
7   100   50  From 8:00am to 5:00pm
8   100   50  From 8:00am to 5:00pm
9     -    -  From 9:00am to 5:00pm
10
11  100   50  From 8:00am to 5:00pm
12  100   50  From 8:00am to 5:00pm
13  100   50  From 8:00am to 5:00pm
Table 11 on page 12:
                                                    0  \
0   10 \n5 \n100 \n50 \nFrom 8:00am to 5:00pm \nEz...
1             The Islamic, Coptic, Jewish antiquities
2                                             Al-Qasr
3                                        Kharga Oasis
4                                     Temple of Hibis
5                          Temple of Qasr al-Ghuweita
6                              Temple of Dush (Douch)
7                            Temple of Qasr al-Zayyan
8             The Islamic, Coptic, Jewish antiquities
9   10 \n5 \n120 \n60 \nFrom 8:00am to 5:00pm \nAl...
10                                            Museums
11                                  New Valley Museum
12                                              Sohag
13                  Temple of Sety (Temple of Abydos)

                                             1  2    3   4  \
0
1
2    10 \n5 \n100 \n50 \nFrom 8:00am to 5:00pm
3    The Egyptian, Greek and Roman Antiquities
4                                           10  5  180  90
5                                           10  5  100  50
6                                           10  5  100  50
7                                           10  5  100  50
8
9
10
11   10 \n5 \n150 \n75 \nFrom 9:00am to 3:00pm
12   The Egyptian, Greek and Roman Antiquities
13  10 \n5 \n260 \n130 \nFrom 7:00am to 5:00pm

                        5
0
1
2
3
4   From 8:00am to 5:00pm
5   From 8:00am to 5:00pm
6   From 8:00am to 5:00pm
7   From 8:00am to 5:00pm
8
9
10
11
12
13
Table 12 on page 13:
                                            0  \
0
1                            Meritamun Temple
2             Shunet al-Zebib & Kom al-Sultan
3                  Al-Sheikh Hamad (Athribis)
4                        Tombs of al-Hawawish
5                         The White Monastery
6                           The Red Monastery

In [8]:
tables[0].df

,0,1,2,3,4,5
0,Cairo Governorate,"The Islamic, Coptic, Jewish antiquities",,,,
1,,Ticket prices,,,,Visiting times
2,,Egyptian,Student,Foreign,Student,
3,Salah al-Din al-Ayyubi Citadel,60,30,550,275,From 8:00am to 5:00pm
4,Baron Empain Palace,60,30,220,110,From 9:00am to 6:00pm
5,Panorama of the Roof,30,30,120,120,
6,AI-Mu'izz Street,20,10,220,110,From 9:00am to 5:00pm
7,Madrasa of Sultan Hassan & Al-Rifaâ€™i \nMosque,-,-,220,110,From 9:00am to 5:00pm
8,Bayt al-Suhaymi,10,5,220,110,From 9:00am to 5:00pm
9,Bab Zuwayla,10,5,100,50,From 9:00am to 5:00pm
10,Madrasa- Mosque of Muhammad Abu \n \nal-Dahab,10,5,100,50,From 9:00am to 5:00pm

In [33]:
df1 = tables[0].df.drop([0, 1, 2], )
df1.columns = ["Place", "Egyptian", "EgyptianStudent", "Foreign", "ForeignStudent", "VisitingTimes"]
df1

,Place,Egyptian,EgyptianStudent,Foreign,ForeignStudent,VisitingTimes
3,Salah al-Din al-Ayyubi Citadel,60,30,550,275,From 8:00am to 5:00pm
4,Baron Empain Palace,60,30,220,110,From 9:00am to 6:00pm
5,Panorama of the Roof,30,30,120,120,
6,AI-Mu'izz Street,20,10,220,110,From 9:00am to 5:00pm
7,Madrasa of Sultan Hassan & Al-Rifaâ€™i \nMosque,-,-,220,110,From 9:00am to 5:00pm
8,Bayt al-Suhaymi,10,5,220,110,From 9:00am to 5:00pm
9,Bab Zuwayla,10,5,100,50,From 9:00am to 5:00pm
10,Madrasa- Mosque of Muhammad Abu \n \nal-Dahab,10,5,100,50,From 9:00am to 5:00pm

In [5]:
tables[1].df

,0,1,2,3,4,5
0,,,,,,
1,T\nhe Mawlawiyya Takiyya,10,5,100,50,From 9:00am to 5:00pm
2,"Al-Ghuri Complex, The dome, The Sabil \nand Th...",10,5,150,75,From 9:00am to 5:00pm
3,Wikala of al-Ghuri,10,5,100,50,From 9:00am to 5:00pm
4,Jamal Al-Din Al-Dhahabi's house,10,5,30,15,From 9:00am to 5:00pm
5,Ali Labib House,10,5,100,50,From 9:00am to 5:00pm
6,House of al-Harawy,10,5,100,50,From 9:00am to 5:00pm
7,Sabil-Kuttab of Sultan Qaitbay,10,5,100,50,From 9:00am to 5:00pm
8,Prince Taz Palace,-,-,-,-,From 9:00am to 5:00pm
9,House of Sitt Wasila,10,5,100,50,From 9:00am to 5:00pm
10,Mosque of ibn Tulun,-,-,-,-,From 9:00am to 5:00pm
11,Nilometer,20,10,120,60,From 9:00am to 5:00pm
12,Fustat,10,5,20,10,From 9:00am to 5:00pm
13,Al-Manasterly Palace,Within Nilometer Ticket,,,,From 9:00am to 5:00pm
14,Sabil-Kuttab of Nafisa al-Bayda,10 \n5 \n60 \n30,,,,From 9:00am to 5:00pm

In [25]:
df2 = tables[1].df.drop([0])
df2.columns = df1.columns
df2

,Place,Egyptian,EgyptianStudent,Foreign,ForeignStudent,VisitingTimes
1,T\nhe Mawlawiyya Takiyya,10,5,100,50,From 9:00am to 5:00pm
2,"Al-Ghuri Complex, The dome, The Sabil \nand Th...",10,5,150,75,From 9:00am to 5:00pm
3,Wikala of al-Ghuri,10,5,100,50,From 9:00am to 5:00pm
4,Jamal Al-Din Al-Dhahabi's house,10,5,30,15,From 9:00am to 5:00pm
5,Ali Labib House,10,5,100,50,From 9:00am to 5:00pm
6,House of al-Harawy,10,5,100,50,From 9:00am to 5:00pm
7,Sabil-Kuttab of Sultan Qaitbay,10,5,100,50,From 9:00am to 5:00pm
8,Prince Taz Palace,-,-,-,-,From 9:00am to 5:00pm
9,House of Sitt Wasila,10,5,100,50,From 9:00am to 5:00pm
10,Mosque of ibn Tulun,-,-,-,-,From 9:00am to 5:00pm
11,Nilometer,20,10,120,60,From 9:00am to 5:00pm
12,Fustat,10,5,20,10,From 9:00am to 5:00pm
13,Al-Manasterly Palace,Within Nilometer Ticket,,,,From 9:00am to 5:00pm
14,Sabil-Kuttab of Nafisa al-Bayda,10 \n5 \n60 \n30,,,,From 9:00am to 5:00pm

In [37]:
df2.Egyptian

1                          10
2                          10
3                          10
4                          10
5                          10
6                          10
7                          10
8                           -
9                          10
10                          -
11                         20
12                         10
13    Within Nilometer Ticket
14           10 \n5 \n60 \n30
Name: Egyptian, dtype: object

In [42]:
df2.loc[14, 'ForeignStudent'] = 30
df2.loc[14, 'Foreign'] = 60
df2.loc[14, 'EgyptianStudent'] = 5
df2.loc[14, 'Egyptian'] = 10
df2

,Place,Egyptian,EgyptianStudent,Foreign,ForeignStudent,VisitingTimes
1,T\nhe Mawlawiyya Takiyya,10,5,100,50,From 9:00am to 5:00pm
2,"Al-Ghuri Complex, The dome, The Sabil \nand Th...",10,5,150,75,From 9:00am to 5:00pm
3,Wikala of al-Ghuri,10,5,100,50,From 9:00am to 5:00pm
4,Jamal Al-Din Al-Dhahabi's house,10,5,30,15,From 9:00am to 5:00pm
5,Ali Labib House,10,5,100,50,From 9:00am to 5:00pm
6,House of al-Harawy,10,5,100,50,From 9:00am to 5:00pm
7,Sabil-Kuttab of Sultan Qaitbay,10,5,100,50,From 9:00am to 5:00pm
8,Prince Taz Palace,-,-,-,-,From 9:00am to 5:00pm
9,House of Sitt Wasila,10,5,100,50,From 9:00am to 5:00pm
10,Mosque of ibn Tulun,-,-,-,-,From 9:00am to 5:00pm
11,Nilometer,20,10,120,60,From 9:00am to 5:00pm
12,Fustat,10,5,20,10,From 9:00am to 5:00pm
13,Al-Manasterly Palace,Within Nilometer Ticket,,,,From 9:00am to 5:00pm
14,Sabil-Kuttab of Nafisa al-Bayda,10,5,60,30,From 9:00am to 5:00pm

In [44]:
df2.loc[13, ['EgyptianStudent', 'Foreign', 'ForeignStudent']] = df2.loc[13, 'Egyptian']
df2

,Place,Egyptian,EgyptianStudent,Foreign,ForeignStudent,VisitingTimes
1,T\nhe Mawlawiyya Takiyya,10,5,100,50,From 9:00am to 5:00pm
2,"Al-Ghuri Complex, The dome, The Sabil \nand Th...",10,5,150,75,From 9:00am to 5:00pm
3,Wikala of al-Ghuri,10,5,100,50,From 9:00am to 5:00pm
4,Jamal Al-Din Al-Dhahabi's house,10,5,30,15,From 9:00am to 5:00pm
5,Ali Labib House,10,5,100,50,From 9:00am to 5:00pm
6,House of al-Harawy,10,5,100,50,From 9:00am to 5:00pm
7,Sabil-Kuttab of Sultan Qaitbay,10,5,100,50,From 9:00am to 5:00pm
8,Prince Taz Palace,-,-,-,-,From 9:00am to 5:00pm
9,House of Sitt Wasila,10,5,100,50,From 9:00am to 5:00pm
10,Mosque of ibn Tulun,-,-,-,-,From 9:00am to 5:00pm
11,Nilometer,20,10,120,60,From 9:00am to 5:00pm
12,Fustat,10,5,20,10,From 9:00am to 5:00pm
13,Al-Manasterly Palace,Within Nilometer Ticket,Within Nilometer Ticket,Within Nilometer Ticket,Within Nilometer Ticket,From 9:00am to 5:00pm
14,Sabil-Kuttab of Nafisa al-Bayda,10,5,60,30,From 9:00am to 5:00pm

In [10]:
tables[2].df

,0,1,2,3,4,5
0,T,,,,,
1,ombs of Muhammad Ali Family \n(Hosh al-Basha),10,5,40,20,From 9:00am to 5:00pm
2,Mary Tree,10,5,120,60,From 9:00am to 5:00pm
3,The Hanging Church,-,-,-,-,From 9:00am to 4:00pm
4,Abu Serga Church,-,-,-,-,From 9:00am to 4:00pm
5,Ben Ezra Synagogue,-,-,-,-,From 9:00am to 4:00pm
6,Mosque of Amr ebn al-As,-,-,-,-,From 9:00am to 4:00pm
7,Al-Darb al-Ahmar Vistor Route,20,10,120,60,From 9:00am to 5:00pm
8,"The Egyptian, Greek and Roman Antiquities",,,,,
9,Obelisk of Senwosret I \n10 \n5 \n200 \n100 \...,,,,,
10,Museums,,,,,
11,The Egyptian Museum in Cairo,30,10,550,275,From 9:00am to 5:00pm
12,Audio guide (The Egyptian Museum),30,30,75,75,
13,Museum of Islamic Art,20,10,340,170,From 9:00am to 5:00pm
14,Coptic Museum,20,10,280,140,From 9:00am to 5:00pm

In [26]:
df3 = tables[2].df.drop([0, 8, 10 ])
df3.columns = df1.columns
df3

,Place,Egyptian,EgyptianStudent,Foreign,ForeignStudent,VisitingTimes
1,ombs of Muhammad Ali Family \n(Hosh al-Basha),10,5,40,20,From 9:00am to 5:00pm
2,Mary Tree,10,5,120,60,From 9:00am to 5:00pm
3,The Hanging Church,-,-,-,-,From 9:00am to 4:00pm
4,Abu Serga Church,-,-,-,-,From 9:00am to 4:00pm
5,Ben Ezra Synagogue,-,-,-,-,From 9:00am to 4:00pm
6,Mosque of Amr ebn al-As,-,-,-,-,From 9:00am to 4:00pm
7,Al-Darb al-Ahmar Vistor Route,20,10,120,60,From 9:00am to 5:00pm
9,Obelisk of Senwosret I \n10 \n5 \n200 \n100 \...,,,,,
11,The Egyptian Museum in Cairo,30,10,550,275,From 9:00am to 5:00pm
12,Audio guide (The Egyptian Museum),30,30,75,75,
13,Museum of Islamic Art,20,10,340,170,From 9:00am to 5:00pm
14,Coptic Museum,20,10,280,140,From 9:00am to 5:00pm

In [46]:
df3.Place[9]

'Obelisk of Senwosret I  \n10 \n5 \n200 \n100 \nFrom 8:00am to 5:00pm'

In [47]:
df3.loc[9, 'VisitingTimes'] = "From 89:00am to 5:00pm"
df3.loc[9, 'ForeignStudent'] = 100
df3.loc[9, 'Foreign'] = 200
df3.loc[9, 'EgyptianStudent'] = 5
df3.loc[9, 'Egyptian'] = 10
df3.loc[9, 'Place'] = 'Obelisk of Senwosret I'
df3

,Place,Egyptian,EgyptianStudent,Foreign,ForeignStudent,VisitingTimes
1,ombs of Muhammad Ali Family \n(Hosh al-Basha),10,5,40,20,From 9:00am to 5:00pm
2,Mary Tree,10,5,120,60,From 9:00am to 5:00pm
3,The Hanging Church,-,-,-,-,From 9:00am to 4:00pm
4,Abu Serga Church,-,-,-,-,From 9:00am to 4:00pm
5,Ben Ezra Synagogue,-,-,-,-,From 9:00am to 4:00pm
6,Mosque of Amr ebn al-As,-,-,-,-,From 9:00am to 4:00pm
7,Al-Darb al-Ahmar Vistor Route,20,10,120,60,From 9:00am to 5:00pm
9,Obelisk of Senwosret I,10,5,200,100,From 89:00am to 5:00pm
11,The Egyptian Museum in Cairo,30,10,550,275,From 9:00am to 5:00pm
12,Audio guide (The Egyptian Museum),30,30,75,75,
13,Museum of Islamic Art,20,10,340,170,From 9:00am to 5:00pm
14,Coptic Museum,20,10,280,140,From 9:00am to 5:00pm

In [12]:
tables[3].df

,0,1,2,3,4,5
0,M,,,,,
1,anial (Prince Muhammad Ali) Palace,20,5,220,110,From 9:00am to 5:00pm
2,Cairo International Airport \nMuseums (2(,5 Dollars,,5 Dollars,,24 hours
3,Cairo International Airport \nMuseums (3),5 Dollars,,5 Dollars,,24 hours
4,Royal Carriages Museum,30,10,300,150,From 9:00am to 5:00pm
5,Helwan Corner Museum (Farouk's \nCorner),20,10,100,50,From 9:00am to 3:00pm
6,Gayer-Anderson Museum,10,5,100,50,From 9:00am to 3:00pm
7,National Museum of Egyptian \nCivilization,80,40,500,250,From 9:00am to 5:00pm \n Friday ...
8,Giza Governorate,"The Egyptian, Greek and Roman Antiquities",,,,
9,Giza Necropolis,60,30,700,350,From 7:00am to 5:00pm
10,Pyramid of Khufu,100,50,1000,500,From 7:00am to 5:00pm \nClosed from 12:00 pm t...
11,Pyramid of Khafre,30,10,280,140,From 7:00am to 5:00pm

In [27]:
df4 = tables[3].df.drop([0, 8, 9, 10, 11,])
df4.columns = df1.columns
df4

,Place,Egyptian,EgyptianStudent,Foreign,ForeignStudent,VisitingTimes
1,anial (Prince Muhammad Ali) Palace,20,5,220,110,From 9:00am to 5:00pm
2,Cairo International Airport \nMuseums (2(,5 Dollars,,5 Dollars,,24 hours
3,Cairo International Airport \nMuseums (3),5 Dollars,,5 Dollars,,24 hours
4,Royal Carriages Museum,30,10,300,150,From 9:00am to 5:00pm
5,Helwan Corner Museum (Farouk's \nCorner),20,10,100,50,From 9:00am to 3:00pm
6,Gayer-Anderson Museum,10,5,100,50,From 9:00am to 3:00pm
7,National Museum of Egyptian \nCivilization,80,40,500,250,From 9:00am to 5:00pm \n Friday ...

In [30]:
df4.EgyptianStudent

1     5
2
3
4    10
5    10
6     5
7    40
Name: EgyptianStudent, dtype: object

In [49]:
df4.loc[[2, 3], ['Egyptian', 'EgyptianStudent', 'Foreign', 'ForeignStudent']] = int(5 * 51)
df4

,Place,Egyptian,EgyptianStudent,Foreign,ForeignStudent,VisitingTimes
1,anial (Prince Muhammad Ali) Palace,20,5,220,110,From 9:00am to 5:00pm
2,Cairo International Airport \nMuseums (2(,255,255,255,255,24 hours
3,Cairo International Airport \nMuseums (3),255,255,255,255,24 hours
4,Royal Carriages Museum,30,10,300,150,From 9:00am to 5:00pm
5,Helwan Corner Museum (Farouk's \nCorner),20,10,100,50,From 9:00am to 3:00pm
6,Gayer-Anderson Museum,10,5,100,50,From 9:00am to 3:00pm
7,National Museum of Egyptian \nCivilization,80,40,500,250,From 9:00am to 5:00pm \n Friday ...

In [80]:
cairo_df = pd.concat([df1, df2, df3, df4], ignore_index=True)
cairo_df

,Place,Egyptian,EgyptianStudent,Foreign,ForeignStudent,VisitingTimes
0,Salah al-Din al-Ayyubi Citadel,60,30,550,275,From 8:00am to 5:00pm
1,Baron Empain Palace,60,30,220,110,From 9:00am to 6:00pm
2,Panorama of the Roof,30,30,120,120,
3,AI-Mu'izz Street,20,10,220,110,From 9:00am to 5:00pm
4,Madrasa of Sultan Hassan & Al-Rifaâ€™i \nMosque,-,-,220,110,From 9:00am to 5:00pm
5,Bayt al-Suhaymi,10,5,220,110,From 9:00am to 5:00pm
6,Bab Zuwayla,10,5,100,50,From 9:00am to 5:00pm
7,Madrasa- Mosque of Muhammad Abu \n \nal-Dahab,10,5,100,50,From 9:00am to 5:00pm
8,T\nhe Mawlawiyya Takiyya,10,5,100,50,From 9:00am to 5:00pm
9,"Al-Ghuri Complex, The dome, The Sabil \nand Th...",10,5,150,75,From 9:00am to 5:00pm
10,Wikala of al-Ghuri,10,5,100,50,From 9:00am to 5:00pm
11,Jamal Al-Din Al-Dhahabi's house,10,5,30,15,From 9:00am to 5:00pm
12,Ali Labib House,10,5,100,50,From 9:00am to 5:00pm
13,House of al-Harawy,10,5,100,50,From 9:00am to 5:00pm
14,Sabil-Kuttab of Sultan Qaitbay,10,5,100,50,From 9:00am to 5:00pm
15,Prince Taz Palace,-,-,-,-,From 9:00am to 5:00pm
16,House of Sitt Wasila,10,5,100,50,From 9:00am to 5:00pm
17,Mosque of ibn Tulun,-,-,-,-,From 9:00am to 5:00pm
18,Nilometer,20,10,120,60,From 9:00am to 5:00pm
19,Fustat,10,5,20,10,From 9:00am to 5:00pm
20,Al-Manasterly Palace,Within Nilometer Ticket,Within Nilometer Ticket,Within Nilometer Ticket,Within Nilometer Ticket,From 9:00am to 5:00pm
21,Sabil-Kuttab of Nafisa al-Bayda,10,5,60,30,From 9:00am to 5:00pm
22,ombs of Muhammad Ali Family \n(Hosh al-Basha),10,5,40,20,From 9:00am to 5:00pm
23,Mary Tree,10,5,120,60,From 9:00am to 5:00pm
24,The Hanging Church,-,-,-,-,From 9:00am to 4:00pm
25,Abu Serga Church,-,-,-,-,From 9:00am to 4:00pm
26,Ben Ezra Synagogue,-,-,-,-,From 9:00am to 4:00pm
27,Mosque of Amr ebn al-As,-,-,-,-,From 9:00am to 4:00pm
28,Al-Darb al-Ahmar Vistor Route,20,10,120,60,From 9:00am to 5:00pm
29,Obelisk of Senwosret I,10,5,200,100,From 89:00am to 5:00pm
30,The Egyptian Museum in Cairo,30,10,550,275,From 9:00am to 5:00pm
31,Audio guide (The Egyptian Museum),30,30,75,75,
32,Museum of Islamic Art,20,10,340,170,From 9:00am to 5:00pm
33,Coptic Museum,20,10,280,140,From 9:00am to 5:00pm
34,anial (Prince Muhammad Ali) Palace,20,5,220,110,From 9:00am to 5:00pm
35,Cairo International Airport \nMuseums (2(,255,255,255,255,24 hours
36,Cairo International Airport \nMuseums (3),255,255,255,255,24 hours
37,Royal Carriages Museum,30,10,300,150,From 9:00am to 5:00pm
38,Helwan Corner Museum (Farouk's \nCorner),20,10,100,50,From 9:00am to 3:00pm
39,Gayer-Anderson Museum,10,5,100,50,From 9:00am to 3:00pm
40,National Museum of Egyptian \nCivilization,80,40,500,250,From 9:00am to 5:00pm \n Friday ...

In [81]:
cairo_df["Governorate/City"] = "Cairo"
cairo_df

,Place,Egyptian,EgyptianStudent,Foreign,ForeignStudent,VisitingTimes,Governorate/City
0,Salah al-Din al-Ayyubi Citadel,60,30,550,275,From 8:00am to 5:00pm,Cairo
1,Baron Empain Palace,60,30,220,110,From 9:00am to 6:00pm,Cairo
2,Panorama of the Roof,30,30,120,120,,Cairo
3,AI-Mu'izz Street,20,10,220,110,From 9:00am to 5:00pm,Cairo
4,Madrasa of Sultan Hassan & Al-Rifaâ€™i \nMosque,-,-,220,110,From 9:00am to 5:00pm,Cairo
5,Bayt al-Suhaymi,10,5,220,110,From 9:00am to 5:00pm,Cairo
6,Bab Zuwayla,10,5,100,50,From 9:00am to 5:00pm,Cairo
7,Madrasa- Mosque of Muhammad Abu \n \nal-Dahab,10,5,100,50,From 9:00am to 5:00pm,Cairo
8,T\nhe Mawlawiyya Takiyya,10,5,100,50,From 9:00am to 5:00pm,Cairo
9,"Al-Ghuri Complex, The dome, The Sabil \nand Th...",10,5,150,75,From 9:00am to 5:00pm,Cairo
10,Wikala of al-Ghuri,10,5,100,50,From 9:00am to 5:00pm,Cairo
11,Jamal Al-Din Al-Dhahabi's house,10,5,30,15,From 9:00am to 5:00pm,Cairo
12,Ali Labib House,10,5,100,50,From 9:00am to 5:00pm,Cairo
13,House of al-Harawy,10,5,100,50,From 9:00am to 5:00pm,Cairo
14,Sabil-Kuttab of Sultan Qaitbay,10,5,100,50,From 9:00am to 5:00pm,Cairo
15,Prince Taz Palace,-,-,-,-,From 9:00am to 5:00pm,Cairo
16,House of Sitt Wasila,10,5,100,50,From 9:00am to 5:00pm,Cairo
17,Mosque of ibn Tulun,-,-,-,-,From 9:00am to 5:00pm,Cairo
18,Nilometer,20,10,120,60,From 9:00am to 5:00pm,Cairo
19,Fustat,10,5,20,10,From 9:00am to 5:00pm,Cairo
20,Al-Manasterly Palace,Within Nilometer Ticket,Within Nilometer Ticket,Within Nilometer Ticket,Within Nilometer Ticket,From 9:00am to 5:00pm,Cairo
21,Sabil-Kuttab of Nafisa al-Bayda,10,5,60,30,From 9:00am to 5:00pm,Cairo
22,ombs of Muhammad Ali Family \n(Hosh al-Basha),10,5,40,20,From 9:00am to 5:00pm,Cairo
23,Mary Tree,10,5,120,60,From 9:00am to 5:00pm,Cairo
24,The Hanging Church,-,-,-,-,From 9:00am to 4:00pm,Cairo
25,Abu Serga Church,-,-,-,-,From 9:00am to 4:00pm,Cairo
26,Ben Ezra Synagogue,-,-,-,-,From 9:00am to 4:00pm,Cairo
27,Mosque of Amr ebn al-As,-,-,-,-,From 9:00am to 4:00pm,Cairo
28,Al-Darb al-Ahmar Vistor Route,20,10,120,60,From 9:00am to 5:00pm,Cairo
29,Obelisk of Senwosret I,10,5,200,100,From 89:00am to 5:00pm,Cairo
30,The Egyptian Museum in Cairo,30,10,550,275,From 9:00am to 5:00pm,Cairo
31,Audio guide (The Egyptian Museum),30,30,75,75,,Cairo
32,Museum of Islamic Art,20,10,340,170,From 9:00am to 5:00pm,Cairo
33,Coptic Museum,20,10,280,140,From 9:00am to 5:00pm,Cairo
34,anial (Prince Muhammad Ali) Palace,20,5,220,110,From 9:00am to 5:00pm,Cairo
35,Cairo International Airport \nMuseums (2(,255,255,255,255,24 hours,Cairo
36,Cairo International Airport \nMuseums (3),255,255,255,255,24 hours,Cairo
37,Royal Carriages Museum,30,10,300,150,From 9:00am to 5:00pm,Cairo
38,Helwan Corner Museum (Farouk's \nCorner),20,10,100,50,From 9:00am to 3:00pm,Cairo
39,Gayer-Anderson Museum,10,5,100,50,From 9:00am to 3:00pm,Cairo
40,National Museum of Egyptian \nCivilization,80,40,500,250,From 9:00am to 5:00pm \n Friday ...,Cairo

In [54]:
tables[3].df

,0,1,2,3,4,5
0,M,,,,,
1,anial (Prince Muhammad Ali) Palace,20,5,220,110,From 9:00am to 5:00pm
2,Cairo International Airport \nMuseums (2(,5 Dollars,,5 Dollars,,24 hours
3,Cairo International Airport \nMuseums (3),5 Dollars,,5 Dollars,,24 hours
4,Royal Carriages Museum,30,10,300,150,From 9:00am to 5:00pm
5,Helwan Corner Museum (Farouk's \nCorner),20,10,100,50,From 9:00am to 3:00pm
6,Gayer-Anderson Museum,10,5,100,50,From 9:00am to 3:00pm
7,National Museum of Egyptian \nCivilization,80,40,500,250,From 9:00am to 5:00pm \n Friday ...
8,Giza Governorate,"The Egyptian, Greek and Roman Antiquities",,,,
9,Giza Necropolis,60,30,700,350,From 7:00am to 5:00pm
10,Pyramid of Khufu,100,50,1000,500,From 7:00am to 5:00pm \nClosed from 12:00 pm t...
11,Pyramid of Khafre,30,10,280,140,From 7:00am to 5:00pm

In [59]:
df5 = tables[3].df.drop([0, 1, 2, 3, 4, 5, 6, 7, 8])
df5.columns = df1.columns
df5

,Place,Egyptian,EgyptianStudent,Foreign,ForeignStudent,VisitingTimes
9,Giza Necropolis,60,30,700,350,From 7:00am to 5:00pm
10,Pyramid of Khufu,100,50,1000,500,From 7:00am to 5:00pm \nClosed from 12:00 pm t...
11,Pyramid of Khafre,30,10,280,140,From 7:00am to 5:00pm

In [60]:
tables[4].df

,0,1,2,3,4,5
0,,,,,,
1,Pyramid of Menkaure,30,10,280,140,From 7:00am to 5:00pm
2,The Sphinx \n)Private visits only + Site openi...,200,,,,After official working \nhours
3,Tomb of Meresankh III,20 \n5,,200,100,From 7:00am to 5:00pm
4,Worker's Cemetery,,,400,200,From 7:00am to 5:00pm \n(Minimum 5 tickets)
5,Parking Tickets in the Pyramids of Giza,Car EGY 25â€“ Minibus EGY 75 â€“ Bus EGY 100,,,,
6,Saqqara & Dahshur Sites,,,,,
7,Saqqara Area \n \n(Includes Pyramid of Djoser ...,30,10,600,300,From 8:00am to 5:00pm
8,Step Pyramid Complex from the Southern \nEntrance,40,20,280,140,From 8:00am to 5:00pm
9,Noblemen's Tomb &New Kingdom \nTombs in the H...,20,10,400,200,From 8:00am to 5:00pm
10,Serapeum,20,5,340,170,From 8:00am to 5:00pm
11,Tomb of Mereruka,20,5,200,100,From 8:00am to 5:00pm

In [61]:
df6 = tables[4].df.drop([0, 6])
df6.columns = df1.columns
df6

,Place,Egyptian,EgyptianStudent,Foreign,ForeignStudent,VisitingTimes
1,Pyramid of Menkaure,30,10,280,140,From 7:00am to 5:00pm
2,The Sphinx \n)Private visits only + Site openi...,200,,,,After official working \nhours
3,Tomb of Meresankh III,20 \n5,,200,100,From 7:00am to 5:00pm
4,Worker's Cemetery,,,400,200,From 7:00am to 5:00pm \n(Minimum 5 tickets)
5,Parking Tickets in the Pyramids of Giza,Car EGY 25â€“ Minibus EGY 75 â€“ Bus EGY 100,,,,
7,Saqqara Area \n \n(Includes Pyramid of Djoser ...,30,10,600,300,From 8:00am to 5:00pm
8,Step Pyramid Complex from the Southern \nEntrance,40,20,280,140,From 8:00am to 5:00pm
9,Noblemen's Tomb &New Kingdom \nTombs in the H...,20,10,400,200,From 8:00am to 5:00pm
10,Serapeum,20,5,340,170,From 8:00am to 5:00pm
11,Tomb of Mereruka,20,5,200,100,From 8:00am to 5:00pm

In [62]:
df6.loc[2, 'ForeignStudent'] = df6.loc[2, 'Egyptian']
df6.loc[2, 'Foreign'] = df6.loc[2, 'Egyptian']
df6.loc[2, 'EgyptianStudent'] = df6.loc[2, 'Egyptian']

df6.loc[3, 'EgyptianStudent'] = 5
df6.loc[3, 'Egyptian'] = 20

df6.loc[5, ['EgyptianStudent', 'Foreign', 'ForeignStudent' ]] = df6.loc[5, 'Egyptian']
df6

,Place,Egyptian,EgyptianStudent,Foreign,ForeignStudent,VisitingTimes
1,Pyramid of Menkaure,30,10,280,140,From 7:00am to 5:00pm
2,The Sphinx \n)Private visits only + Site openi...,200,200,200,200,After official working \nhours
3,Tomb of Meresankh III,20,5,200,100,From 7:00am to 5:00pm
4,Worker's Cemetery,,,400,200,From 7:00am to 5:00pm \n(Minimum 5 tickets)
5,Parking Tickets in the Pyramids of Giza,Car EGY 25â€“ Minibus EGY 75 â€“ Bus EGY 100,Car EGY 25â€“ Minibus EGY 75 â€“ Bus EGY 100,Car EGY 25â€“ Minibus EGY 75 â€“ Bus EGY 100,Car EGY 25â€“ Minibus EGY 75 â€“ Bus EGY 100,
7,Saqqara Area \n \n(Includes Pyramid of Djoser ...,30,10,600,300,From 8:00am to 5:00pm
8,Step Pyramid Complex from the Southern \nEntrance,40,20,280,140,From 8:00am to 5:00pm
9,Noblemen's Tomb &New Kingdom \nTombs in the H...,20,10,400,200,From 8:00am to 5:00pm
10,Serapeum,20,5,340,170,From 8:00am to 5:00pm
11,Tomb of Mereruka,20,5,200,100,From 8:00am to 5:00pm

In [63]:
tables[5].df

,0,1,2,3,4,5
0,,,,,,
1,The Southern Tomb,40,20,300,150,From 8:00am to 5:00pm
2,Ticket for all Saqqara Tombs,,,1000,500,From 8:00am to 5:00pm
3,Parking Tickets in the Saqqara Site,Car EGY 25 â€“ Minibus EGY 75â€“ Bus EGY 100,,,,
4,Dahshur,10,5,200,100,From 8:00am to 5:00pm
5,Mit Rahina,10,5,200,100,From 8:00am to 5:00pm
6,,,,,,
7,Parking Tickets in Mit Rahina,Car EGY 25â€“ Minibus EGY 75 â€“ Bus EGY 100,,,,
8,Bahariyya Oasis,10 \n5 \n100 \n50 \nFrom 8:00am to 4:00pm,,,,
9,Alexandria,"The Islamic, Coptic, Jewish antiquities",,,,
10,Qaitbay Citadel,60,30,200,100,From 9:00am to 7:00pm
11,Abu Mena Archaeological Site,-,-,-,-,From 7:00am to 7:00pm
12,"The Egyptian, Greek and Roman Antiquities",,,,,
13,Pompeyâ€™s Pillar,20,5,200,100,From 9:00am to 5:00pm
14,Kom al-Dekka (Amphitheater),20,10,200,100,From 9:00am to 5:00pm

In [65]:
df7 = tables[5].df.drop([0, 6, 9, 10, 11, 12, 13, 14])

df7.columns = df1.columns
df7

,Place,Egyptian,EgyptianStudent,Foreign,ForeignStudent,VisitingTimes
1,The Southern Tomb,40,20,300,150,From 8:00am to 5:00pm
2,Ticket for all Saqqara Tombs,,,1000,500,From 8:00am to 5:00pm
3,Parking Tickets in the Saqqara Site,Car EGY 25 â€“ Minibus EGY 75â€“ Bus EGY 100,,,,
4,Dahshur,10,5,200,100,From 8:00am to 5:00pm
5,Mit Rahina,10,5,200,100,From 8:00am to 5:00pm
7,Parking Tickets in Mit Rahina,Car EGY 25â€“ Minibus EGY 75 â€“ Bus EGY 100,,,,
8,Bahariyya Oasis,10 \n5 \n100 \n50 \nFrom 8:00am to 4:00pm,,,,

In [67]:
df7.loc[3, ['EgyptianStudent', 'Foreign', 'ForeignStudent']] = df7.loc[3, 'Egyptian']
df7.loc[7, ['EgyptianStudent', 'Foreign', 'ForeignStudent']] = df7.loc[7, 'Egyptian']
df7.loc[8, 'VisitingTimes'] = 'From 8:00am to 4:00pm'
df7.loc[8, 'ForeignStudent'] = 50
df7.loc[8, 'Foreign'] = 100
df7.loc[8, 'EgyptianStudent'] = 5
df7.loc[8, 'Egyptian'] = 10
df7

,Place,Egyptian,EgyptianStudent,Foreign,ForeignStudent,VisitingTimes
1,The Southern Tomb,40,20,300,150,From 8:00am to 5:00pm
2,Ticket for all Saqqara Tombs,,,1000,500,From 8:00am to 5:00pm
3,Parking Tickets in the Saqqara Site,Car EGY 25 â€“ Minibus EGY 75â€“ Bus EGY 100,Car EGY 25 â€“ Minibus EGY 75â€“ Bus EGY 100,Car EGY 25 â€“ Minibus EGY 75â€“ Bus EGY 100,Car EGY 25 â€“ Minibus EGY 75â€“ Bus EGY 100,
4,Dahshur,10,5,200,100,From 8:00am to 5:00pm
5,Mit Rahina,10,5,200,100,From 8:00am to 5:00pm
7,Parking Tickets in Mit Rahina,Car EGY 25â€“ Minibus EGY 75 â€“ Bus EGY 100,Car EGY 25â€“ Minibus EGY 75 â€“ Bus EGY 100,Car EGY 25â€“ Minibus EGY 75 â€“ Bus EGY 100,Car EGY 25â€“ Minibus EGY 75 â€“ Bus EGY 100,
8,Bahariyya Oasis,10,5,100,50,From 8:00am to 4:00pm

In [78]:
giza_df = pd.concat([df5, df6, df7], ignore_index=True)
giza_df['Governorate/City'] = 'Giza'
giza_df

,Place,Egyptian,EgyptianStudent,Foreign,ForeignStudent,VisitingTimes,Governorate/City
0,Giza Necropolis,60,30,700,350,From 7:00am to 5:00pm,Giza
1,Pyramid of Khufu,100,50,1000,500,From 7:00am to 5:00pm \nClosed from 12:00 pm t...,Giza
2,Pyramid of Khafre,30,10,280,140,From 7:00am to 5:00pm,Giza
3,Pyramid of Menkaure,30,10,280,140,From 7:00am to 5:00pm,Giza
4,The Sphinx \n)Private visits only + Site openi...,200,200,200,200,After official working \nhours,Giza
5,Tomb of Meresankh III,20,5,200,100,From 7:00am to 5:00pm,Giza
6,Worker's Cemetery,,,400,200,From 7:00am to 5:00pm \n(Minimum 5 tickets),Giza
7,Parking Tickets in the Pyramids of Giza,Car EGY 25â€“ Minibus EGY 75 â€“ Bus EGY 100,Car EGY 25â€“ Minibus EGY 75 â€“ Bus EGY 100,Car EGY 25â€“ Minibus EGY 75 â€“ Bus EGY 100,Car EGY 25â€“ Minibus EGY 75 â€“ Bus EGY 100,,Giza
8,Saqqara Area \n \n(Includes Pyramid of Djoser ...,30,10,600,300,From 8:00am to 5:00pm,Giza
9,Step Pyramid Complex from the Southern \nEntrance,40,20,280,140,From 8:00am to 5:00pm,Giza
10,Noblemen's Tomb &New Kingdom \nTombs in the H...,20,10,400,200,From 8:00am to 5:00pm,Giza
11,Serapeum,20,5,340,170,From 8:00am to 5:00pm,Giza
12,Tomb of Mereruka,20,5,200,100,From 8:00am to 5:00pm,Giza
13,The Southern Tomb,40,20,300,150,From 8:00am to 5:00pm,Giza
14,Ticket for all Saqqara Tombs,,,1000,500,From 8:00am to 5:00pm,Giza
15,Parking Tickets in the Saqqara Site,Car EGY 25 â€“ Minibus EGY 75â€“ Bus EGY 100,Car EGY 25 â€“ Minibus EGY 75â€“ Bus EGY 100,Car EGY 25 â€“ Minibus EGY 75â€“ Bus EGY 100,Car EGY 25 â€“ Minibus EGY 75â€“ Bus EGY 100,,Giza
16,Dahshur,10,5,200,100,From 8:00am to 5:00pm,Giza
17,Mit Rahina,10,5,200,100,From 8:00am to 5:00pm,Giza
18,Parking Tickets in Mit Rahina,Car EGY 25â€“ Minibus EGY 75 â€“ Bus EGY 100,Car EGY 25â€“ Minibus EGY 75 â€“ Bus EGY 100,Car EGY 25â€“ Minibus EGY 75 â€“ Bus EGY 100,Car EGY 25â€“ Minibus EGY 75 â€“ Bus EGY 100,,Giza
19,Bahariyya Oasis,10,5,100,50,From 8:00am to 4:00pm,Giza

In [70]:
tables[5].df

,0,1,2,3,4,5
0,,,,,,
1,The Southern Tomb,40,20,300,150,From 8:00am to 5:00pm
2,Ticket for all Saqqara Tombs,,,1000,500,From 8:00am to 5:00pm
3,Parking Tickets in the Saqqara Site,Car EGY 25 â€“ Minibus EGY 75â€“ Bus EGY 100,,,,
4,Dahshur,10,5,200,100,From 8:00am to 5:00pm
5,Mit Rahina,10,5,200,100,From 8:00am to 5:00pm
6,,,,,,
7,Parking Tickets in Mit Rahina,Car EGY 25â€“ Minibus EGY 75 â€“ Bus EGY 100,,,,
8,Bahariyya Oasis,10 \n5 \n100 \n50 \nFrom 8:00am to 4:00pm,,,,
9,Alexandria,"The Islamic, Coptic, Jewish antiquities",,,,
10,Qaitbay Citadel,60,30,200,100,From 9:00am to 7:00pm
11,Abu Mena Archaeological Site,-,-,-,-,From 7:00am to 7:00pm
12,"The Egyptian, Greek and Roman Antiquities",,,,,
13,Pompeyâ€™s Pillar,20,5,200,100,From 9:00am to 5:00pm
14,Kom al-Dekka (Amphitheater),20,10,200,100,From 9:00am to 5:00pm

In [72]:
df8 = tables[5].df.drop([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 12])
df8.columns = df1.columns
df8

,Place,Egyptian,EgyptianStudent,Foreign,ForeignStudent,VisitingTimes
10,Qaitbay Citadel,60,30,200,100,From 9:00am to 7:00pm
11,Abu Mena Archaeological Site,-,-,-,-,From 7:00am to 7:00pm
13,Pompeyâ€™s Pillar,20,5,200,100,From 9:00am to 5:00pm
14,Kom al-Dekka (Amphitheater),20,10,200,100,From 9:00am to 5:00pm

In [73]:
tables[6].df

,0,1,2,3,4,5
0,Kom al-Shuqafa,30,10,200,100,From 9:00am to 5:00pm
1,Mustafa Kamel Tombs,10,5,100,50,From 9:00am to 5:00pm
2,Al-Anfushy,10,5,100,50,From 9:00am to 5:00pm
3,El-Shatby Cemetery,20,10,100,50,From 9:00am to 5:00pm
4,Underwater Antiquities,35,35,180,90,From 9:00am to 5:00pm
5,Museums,,,,,
6,National Museum of Alexandria,20,5,220,110,From 9:00am to 5:00pm
7,Royal Jewellery Museum,20,5,220,110,From 9:00am to 5:00pm
8,Greco-Roman Museum,40,20,400,200,From 9:00am to 5:00pm
9,Suez,Museums,,,,
10,National Museum of Suez,20 \n10 \n180 \n90 \nFrom 9:00am to 3:00pm,,,,
11,Ismailia,Museums,,,,
12,Ismailia Museum,10 \n5 \n100 \n50 \nFrom 9:00am to 3:00pm,,,,
13,Marsa Matrouh,"The Egyptian, Greek and Roman Antiquities",,,,

In [75]:
df9 = tables[6].df.drop([5, 9, 10, 11, 12, 13])
df9.columns = df1.columns
df9

,Place,Egyptian,EgyptianStudent,Foreign,ForeignStudent,VisitingTimes
0,Kom al-Shuqafa,30,10,200,100,From 9:00am to 5:00pm
1,Mustafa Kamel Tombs,10,5,100,50,From 9:00am to 5:00pm
2,Al-Anfushy,10,5,100,50,From 9:00am to 5:00pm
3,El-Shatby Cemetery,20,10,100,50,From 9:00am to 5:00pm
4,Underwater Antiquities,35,35,180,90,From 9:00am to 5:00pm
6,National Museum of Alexandria,20,5,220,110,From 9:00am to 5:00pm
7,Royal Jewellery Museum,20,5,220,110,From 9:00am to 5:00pm
8,Greco-Roman Museum,40,20,400,200,From 9:00am to 5:00pm

In [77]:
alexandria_df = pd.concat([df8, df9], ignore_index=True)
alexandria_df['Governorate/City'] = 'Alexandria'
alexandria_df

,Place,Egyptian,EgyptianStudent,Foreign,ForeignStudent,VisitingTimes,Governorate/City
0,Qaitbay Citadel,60,30,200,100,From 9:00am to 7:00pm,Alexandria
1,Abu Mena Archaeological Site,-,-,-,-,From 7:00am to 7:00pm,Alexandria
2,Pompeyâ€™s Pillar,20,5,200,100,From 9:00am to 5:00pm,Alexandria
3,Kom al-Dekka (Amphitheater),20,10,200,100,From 9:00am to 5:00pm,Alexandria
4,Kom al-Shuqafa,30,10,200,100,From 9:00am to 5:00pm,Alexandria
5,Mustafa Kamel Tombs,10,5,100,50,From 9:00am to 5:00pm,Alexandria
6,Al-Anfushy,10,5,100,50,From 9:00am to 5:00pm,Alexandria
7,El-Shatby Cemetery,20,10,100,50,From 9:00am to 5:00pm,Alexandria
8,Underwater Antiquities,35,35,180,90,From 9:00am to 5:00pm,Alexandria
9,National Museum of Alexandria,20,5,220,110,From 9:00am to 5:00pm,Alexandria
10,Royal Jewellery Museum,20,5,220,110,From 9:00am to 5:00pm,Alexandria
11,Greco-Roman Museum,40,20,400,200,From 9:00am to 5:00pm,Alexandria

In [82]:
tables[6].df

,0,1,2,3,4,5
0,Kom al-Shuqafa,30,10,200,100,From 9:00am to 5:00pm
1,Mustafa Kamel Tombs,10,5,100,50,From 9:00am to 5:00pm
2,Al-Anfushy,10,5,100,50,From 9:00am to 5:00pm
3,El-Shatby Cemetery,20,10,100,50,From 9:00am to 5:00pm
4,Underwater Antiquities,35,35,180,90,From 9:00am to 5:00pm
5,Museums,,,,,
6,National Museum of Alexandria,20,5,220,110,From 9:00am to 5:00pm
7,Royal Jewellery Museum,20,5,220,110,From 9:00am to 5:00pm
8,Greco-Roman Museum,40,20,400,200,From 9:00am to 5:00pm
9,Suez,Museums,,,,
10,National Museum of Suez,20 \n10 \n180 \n90 \nFrom 9:00am to 3:00pm,,,,
11,Ismailia,Museums,,,,
12,Ismailia Museum,10 \n5 \n100 \n50 \nFrom 9:00am to 3:00pm,,,,
13,Marsa Matrouh,"The Egyptian, Greek and Roman Antiquities",,,,

In [126]:
suez_df = tables[6].df
suez_df.columns = df1.columns
suez_df = suez_df.loc[10]

suez_df['Governorate/City'] = 'Suez'
suez_df['Egyptian'] = 20
suez_df['EgyptianStudent'] = 10
suez_df['Foreign'] = 180
suez_df['ForeignStudent'] = 90
suez_df['VisitingTimes'] = 'From 9:00am to 3:00pm'

suez_df = suez_df.to_frame().T
suez_df

,Place,Egyptian,EgyptianStudent,Foreign,ForeignStudent,VisitingTimes,Governorate/City
10,National Museum of Suez,20,10,180,90,From 9:00am to 3:00pm,Suez

In [127]:
ismailia_df = tables[6].df
ismailia_df.columns = df1.columns
ismailia_df = ismailia_df.loc[12]

ismailia_df['Governorate/City'] = 'Ismailia'
ismailia_df['Egyptian'] = 10
ismailia_df['EgyptianStudent'] = 5
ismailia_df['Foreign'] = 100
ismailia_df['ForeignStudent'] = 50
ismailia_df['VisitingTimes'] = 'From 9:00am to 3:00pm'
ismailia_df = ismailia_df.to_frame().T
ismailia_df

,Place,Egyptian,EgyptianStudent,Foreign,ForeignStudent,VisitingTimes,Governorate/City
12,Ismailia Museum,10,5,100,50,From 9:00am to 3:00pm,Ismailia

In [95]:
tables[7].df

,0,1,2,3,4,5
0,,,,,,
1,Temple of Aghurmi,10,5,120,60,From 9:00am to 5:00pm
2,Tombs of Gabal al-Mawta,10,5,120,60,From 9:00am to 5:00pm
3,Museums,,,,,
4,Matruh Museum,20,10,180,90,From 9:00am to 3:00pm \nFrom 5:00pm to 10:00pm...
5,Rommel's Cave Museum,10,5,100,50,From 9:00am to 3:00pm
6,Al Beheira,"The Islamic, Coptic, Jewish antiquities",,,,
7,Rosetta City Monuments,10,5,120,60,From 8:30am to 4:00pm
8,Qaitbay Citadel in Rosetta,10,5,30,15,From 8:30am to 4:00pm
9,Monastery of St Pshoi,-,-,-,-,From 8:00am to 5:00pm
10,Monastery of the Syrians,-,-,-,-,From 8:00am to 5:00pm
11,Monastery of al-Baramus,-,-,-,-,From 8:00am to 5:00pm

In [100]:
df10 = tables[7].df.loc[1:5].drop([3])
df10.columns = df1.columns
matruf_df = df10
matruf_df['Governorate/City'] = 'Matruh'
matruf_df

,Place,Egyptian,EgyptianStudent,Foreign,ForeignStudent,VisitingTimes,Governorate/City
1,Temple of Aghurmi,10,5,120,60,From 9:00am to 5:00pm,Matruh
2,Tombs of Gabal al-Mawta,10,5,120,60,From 9:00am to 5:00pm,Matruh
4,Matruh Museum,20,10,180,90,From 9:00am to 3:00pm \nFrom 5:00pm to 10:00pm...,Matruh
5,Rommel's Cave Museum,10,5,100,50,From 9:00am to 3:00pm,Matruh

In [103]:
tables[7].df

,0,1,2,3,4,5
0,,,,,,
1,Temple of Aghurmi,10,5,120,60,From 9:00am to 5:00pm
2,Tombs of Gabal al-Mawta,10,5,120,60,From 9:00am to 5:00pm
3,Museums,,,,,
4,Matruh Museum,20,10,180,90,From 9:00am to 3:00pm \nFrom 5:00pm to 10:00pm...
5,Rommel's Cave Museum,10,5,100,50,From 9:00am to 3:00pm
6,Al Beheira,"The Islamic, Coptic, Jewish antiquities",,,,
7,Rosetta City Monuments,10,5,120,60,From 8:30am to 4:00pm
8,Qaitbay Citadel in Rosetta,10,5,30,15,From 8:30am to 4:00pm
9,Monastery of St Pshoi,-,-,-,-,From 8:00am to 5:00pm
10,Monastery of the Syrians,-,-,-,-,From 8:00am to 5:00pm
11,Monastery of al-Baramus,-,-,-,-,From 8:00am to 5:00pm

In [128]:
df11 = tables[7].df.loc[7:]
df11.columns = df1.columns
a = tables[8].df
a.columns = df1.columns
a = a.loc[0].to_frame().T
a
beheira_df = pd.concat([df11, a], ignore_index=True)
beheira_df['Governorate/City'] = 'Al Beheira'
beheira_df

,Place,Egyptian,EgyptianStudent,Foreign,ForeignStudent,VisitingTimes,Governorate/City
0,Rosetta City Monuments,10,5,120,60,From 8:30am to 4:00pm,Al Beheira
1,Qaitbay Citadel in Rosetta,10,5,30,15,From 8:30am to 4:00pm,Al Beheira
2,Monastery of St Pshoi,-,-,-,-,From 8:00am to 5:00pm,Al Beheira
3,Monastery of the Syrians,-,-,-,-,From 8:00am to 5:00pm,Al Beheira
4,Monastery of al-Baramus,-,-,-,-,From 8:00am to 5:00pm,Al Beheira
5,Monastery of St Macarius,-,-,-,-,From 8:00am to 5:00pm,Al Beheira

In [106]:
tables[8].df

,0,1,2,3,4,5
0,Monastery of St Macarius,-,-,-,-,From 8:00am to 5:00pm
1,Kafr al-Sheikh,Museums,,,,
2,Kafr al-Sheikh Museum,20 \n10 \n220 \n110 \n From 9:00am to 4:00pm,,,,
3,Gharbia,Museums,,,,
4,Tanta Museum,20 \n10 \n150 \n75 \n From 9:00am to 3:00pm,,,,
5,Al-Sharqiyya,"The Egyptian, Greek and Roman Antiquities",,,,
6,Tell Basta,10,5,150,75,From 9:00am to 6:00pm \nSummer \nFrom 9:00am t...
7,,,,,,
8,Parking Tickets in Tell Basta,Car EGY 25â€“ Minibus EGY 75 â€“ Bus EGY 100,,,,
9,Tanis (San al-Hagar),10,5,120,60,From 9:00am to 6:00pm \nSummer \nFrom 9:00am t...
10,Museums,,,,,
11,Tell Basta Museum,Within Tell Basta Ticket \nFrom 9:00am to 3:00pm,,,,
12,Fayoum,"The Egyptian, Greek and Roman Antiquities",,,,

In [131]:
kafr_elsheikh_df = tables[8].df
kafr_elsheikh_df.columns = df1.columns

kafr_elsheikh_df = kafr_elsheikh_df.loc[2]
kafr_elsheikh_df['VisitingTimes'] = 'From 9:00am to 4:00pm'
kafr_elsheikh_df['ForeignStudent'] = 110
kafr_elsheikh_df['Foreign'] = 220
kafr_elsheikh_df['EgyptianStudent'] = 10
kafr_elsheikh_df['Egyptian'] = 20
kafr_elsheikh_df['Governorate/City'] = 'Kafr al-Sheikh'
kafr_elsheikh_df = kafr_elsheikh_df.to_frame().T
kafr_elsheikh_df

C:\Users\mosai\AppData\Local\Temp\ipykernel_3612\1740330057.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kafr_elsheikh_df['VisitingTimes'] = 'From 9:00am to 4:00pm'
C:\Users\mosai\AppData\Local\Temp\ipykernel_3612\1740330057.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kafr_elsheikh_df['ForeignStudent'] = 110
C:\Users\mosai\AppData\Local\Temp\ipykernel_3612\1740330057.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kafr_elsheikh_df['Foreign'] = 220
C:\Users\mosai\AppData\Local\Temp\ipykernel_3612\1740330057.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kafr_elsheikh_df['EgyptianStudent'] = 10
C:\Users\mosai\AppData\Local\Temp\ipykernel_3612\1740330057.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kafr_elsheikh_df['Egyptian'] = 20
C:\Users\mosai\AppData\Local\Temp\ipykernel_3612\1740330057.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kafr_elsheikh_df['Governorate/City'] = 'Kafr al-Sheikh'
C:\Users\mosai\AppData\Local\Temp\ipykernel_3612\1740330057.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  kafr_elsheikh_df['Governorate/City'] = 'Kafr al-Sheikh'

,Place,Egyptian,EgyptianStudent,Foreign,ForeignStudent,VisitingTimes,Governorate/City
2,Kafr al-Sheikh Museum,20,10,220,110,From 9:00am to 4:00pm,Kafr al-Sheikh

In [132]:
gharbia_df = tables[8].df
gharbia_df.columns = df1.columns

gharbia_df = gharbia_df.loc[4]
gharbia_df['VisitingTimes'] = 'From 9:00am to 3:00pm'
gharbia_df['ForeignStudent'] = 75
gharbia_df['Foreign'] = 150
gharbia_df['EgyptianStudent'] = 10
gharbia_df['Egyptian'] = 20
gharbia_df['Governorate/City'] = 'Gharbia'
gharbia_df = gharbia_df.to_frame().T
gharbia_df

C:\Users\mosai\AppData\Local\Temp\ipykernel_3612\3452503250.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gharbia_df['VisitingTimes'] = 'From 9:00am to 3:00pm'
C:\Users\mosai\AppData\Local\Temp\ipykernel_3612\3452503250.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gharbia_df['ForeignStudent'] = 75
C:\Users\mosai\AppData\Local\Temp\ipykernel_3612\3452503250.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gharbia_df['Foreign'] = 150
C:\Users\mosai\AppData\Local\Temp\ipykernel_3612\3452503250.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gharbia_df['EgyptianStudent'] = 10
C:\Users\mosai\AppData\Local\Temp\ipykernel_3612\3452503250.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gharbia_df['Egyptian'] = 20
C:\Users\mosai\AppData\Local\Temp\ipykernel_3612\3452503250.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gharbia_df['Governorate/City'] = 'Gharbia'
C:\Users\mosai\AppData\Local\Temp\ipykernel_3612\3452503250.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  gharbia_df['Governorate/City'] = 'Gharbia'

,Place,Egyptian,EgyptianStudent,Foreign,ForeignStudent,VisitingTimes,Governorate/City
4,Tanta Museum,20,10,150,75,From 9:00am to 3:00pm,Gharbia

In [133]:
tables[8].df

,Place,Egyptian,EgyptianStudent,Foreign,ForeignStudent,VisitingTimes
0,Monastery of St Macarius,-,-,-,110,From 9:00am to 4:00pm
1,Kafr al-Sheikh,Museums,,,110,From 9:00am to 4:00pm
2,Kafr al-Sheikh Museum,20 \n10 \n220 \n110 \n From 9:00am to 4:00pm,,,110,From 9:00am to 4:00pm
3,Gharbia,Museums,,,110,From 9:00am to 4:00pm
4,Tanta Museum,20 \n10 \n150 \n75 \n From 9:00am to 3:00pm,,,110,From 9:00am to 4:00pm
5,Al-Sharqiyya,"The Egyptian, Greek and Roman Antiquities",,,110,From 9:00am to 4:00pm
6,Tell Basta,10,5,150,110,From 9:00am to 4:00pm
7,,,,,110,From 9:00am to 4:00pm
8,Parking Tickets in Tell Basta,Car EGY 25â€“ Minibus EGY 75 â€“ Bus EGY 100,,,110,From 9:00am to 4:00pm
9,Tanis (San al-Hagar),10,5,120,110,From 9:00am to 4:00pm
10,Museums,,,,110,From 9:00am to 4:00pm
11,Tell Basta Museum,Within Tell Basta Ticket \nFrom 9:00am to 3:00pm,,,110,From 9:00am to 4:00pm
12,Fayoum,"The Egyptian, Greek and Roman Antiquities",,,110,From 9:00am to 4:00pm

In [135]:
alsharqiya_df = tables[8].df.loc[6:11].drop([7, 10])
alsharqiya_df.columns = df1.columns
alsharqiya_df

,Place,Egyptian,EgyptianStudent,Foreign,ForeignStudent,VisitingTimes
6,Tell Basta,10,5,150,110,From 9:00am to 4:00pm
8,Parking Tickets in Tell Basta,Car EGY 25â€“ Minibus EGY 75 â€“ Bus EGY 100,,,110,From 9:00am to 4:00pm
9,Tanis (San al-Hagar),10,5,120,110,From 9:00am to 4:00pm
11,Tell Basta Museum,Within Tell Basta Ticket \nFrom 9:00am to 3:00pm,,,110,From 9:00am to 4:00pm

In [137]:
alsharqiya_df.loc[6, 'VisitingTimes'] = '''From 9:00am to 6:00pm Summer
From 9:00am to 5:00pm Winter'''
alsharqiya_df.loc[8, ['ForeignStudent', 'Foreign','EgyptianStudent']] = alsharqiya_df.loc[8, 'Egyptian']

alsharqiya_df.loc[8, 'VisitingTimes'] = ''
alsharqiya_df.loc[9, 'VisitingTimes'] = '''From 9:00am to 6:00pm Summer
From 9:00am to 5:00pm Winter'''
alsharqiya_df.loc[11, 'VisitingTimes'] = 'From 9:00am to 3:00pm'
alsharqiya_df.loc[11, ['ForeignStudent', 'Foreign','EgyptianStudent', 'Egyptian']] = 'Within Tell Basta Ticket'
alsharqiya_df['Governorate/City'] = 'Al-Sharqiyya'
alsharqiya_df

C:\Users\mosai\AppData\Local\Temp\ipykernel_3612\2880633417.py:3: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Car EGY 25â€“ Minibus EGY 75 â€“ Bus EGY 100' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  alsharqiya_df.loc[8, ['ForeignStudent', 'Foreign','EgyptianStudent']] = alsharqiya_df.loc[8, 'Egyptian']

,Place,Egyptian,EgyptianStudent,Foreign,ForeignStudent,VisitingTimes,Governorate/City
6,Tell Basta,10,5,150,110,From 9:00am to 6:00pm Summer\nFrom 9:00am to 5...,Al-Sharqiyya
8,Parking Tickets in Tell Basta,Car EGY 25â€“ Minibus EGY 75 â€“ Bus EGY 100,Car EGY 25â€“ Minibus EGY 75 â€“ Bus EGY 100,Car EGY 25â€“ Minibus EGY 75 â€“ Bus EGY 100,Car EGY 25â€“ Minibus EGY 75 â€“ Bus EGY 100,,Al-Sharqiyya
9,Tanis (San al-Hagar),10,5,120,110,From 9:00am to 6:00pm Summer\nFrom 9:00am to 5...,Al-Sharqiyya
11,Tell Basta Museum,Within Tell Basta Ticket,Within Tell Basta Ticket,Within Tell Basta Ticket,Within Tell Basta Ticket,From 9:00am to 3:00pm,Al-Sharqiyya

In [138]:
tables[9].df

,0,1,2,3,4,5
0,Qasr Qarun,10,5,150,75,From 8:00am to 5:00pm
1,Hawara Pyramid,10,5,150,75,From 8:00am to 5:00pm
2,Al-Lahun Pyramid,10,5,150,75,From 8:00am to 5:00pm
3,Karanis,10,5,150,75,From 8:00am to 5:00pm
4,Medinet Madi,10,5,120,60,From 8:00am to 5:00pm
5,Museums,,,,,
6,Kom Aushim Museum,10 \n5 \n100 \n50 \nFrom 9:00am to 3:00pm,,,,
7,Beni Suef,"The Egyptian, Greek and Roman Antiquities",,,,
8,Pyramid of Meidum,10 \n5 \n150 \n75 \nFrom 8:00am to 5:00pm,,,,
9,EL Minya,"The Islamic, Coptic, Jewish antiquities",,,,
10,Zawyet Sultan,20,10,100,50,From 8:00am to 5:00pm
11,Al-Bahnasa,-,-,-,-,From 9:00am to 5:00pm
12,Gabal al-Tayr,-,-,-,-,From 9:00am to 5:00pm
13,"The Egyptian, Greek and Roman Antiquities",,,,,
14,20 \n10 \n200 \n100 \nFrom 8:00am to 5:00pm \n...,,,,,

In [142]:
fayoum_df = tables[9].df.loc[0:6].drop([5])

fayoum_df.columns = df1.columns

fayoum_df.loc[6, 'VisitingTimes'] = 'From 9:00am to 3:00pm'
fayoum_df.loc[6, 'ForeignStudent'] = 50

fayoum_df.loc[6, 'Foreign'] = 100

fayoum_df.loc[6, 'EgyptianStudent'] = 5

fayoum_df.loc[6, 'Egyptian'] = 10
fayoum_df['Governorate/City'] = 'Fayoum'
fayoum_df

,Place,Egyptian,EgyptianStudent,Foreign,ForeignStudent,VisitingTimes,Governorate/City
0,Qasr Qarun,10,5,150,75,From 8:00am to 5:00pm,Fayoum
1,Hawara Pyramid,10,5,150,75,From 8:00am to 5:00pm,Fayoum
2,Al-Lahun Pyramid,10,5,150,75,From 8:00am to 5:00pm,Fayoum
3,Karanis,10,5,150,75,From 8:00am to 5:00pm,Fayoum
4,Medinet Madi,10,5,120,60,From 8:00am to 5:00pm,Fayoum
6,Kom Aushim Museum,10,5,100,50,From 9:00am to 3:00pm,Fayoum

In [144]:
beniSuef = tables[9].df
beniSuef.columns = df1.columns

beniSuef = beniSuef.loc[8]
beniSuef['VisitingTimes'] = 'From 9:00am to 5:00pm'
beniSuef['ForeignStudent'] = 75
beniSuef['Foreign'] = 150
beniSuef['EgyptianStudent'] = 10
beniSuef['Egyptian'] = 20
beniSuef['Governorate/City'] = 'Beni Suef'
beniSuef = beniSuef.to_frame().T
beniSuef

,Place,Egyptian,EgyptianStudent,Foreign,ForeignStudent,VisitingTimes,Governorate/City
8,Pyramid of Meidum,20,10,150,75,From 9:00am to 5:00pm,Beni Suef

In [146]:
df12 = tables[9].df.loc[10:].drop([13])
df12.columns = df1.columns
df12.loc[14, 'Place'] = 'Tuna al-Gabal'
df12.loc[14, 'VisitingTimes'] = 'From 8:00am to 5:00pm'
df12.loc[14, 'ForeignStudent'] = 100

df12.loc[14, 'Foreign'] = 200

df12.loc[14, 'EgyptianStudent'] = 10

df12.loc[14, 'Egyptian'] = 20
df12

,Place,Egyptian,EgyptianStudent,Foreign,ForeignStudent,VisitingTimes
10,Zawyet Sultan,20,10,100,50,From 8:00am to 5:00pm
11,Al-Bahnasa,-,-,-,-,From 9:00am to 5:00pm
12,Gabal al-Tayr,-,-,-,-,From 9:00am to 5:00pm
14,Tuna al-Gabal,20,10,200,100,From 8:00am to 5:00pm

In [141]:
tables[10].df

,0,1,2,3,4,5
0,Tell al-Amarna,20,10,200,100,From 8:00am to 5:00pm
1,The Royal Tomb,20,10,120,60,From 8:00am to 5:00pm
2,Fraser Tombs,20,10,100,50,From 8:00am to 5:00pm
3,Tombs of Beni Hasan,20,10,200,100,From 8:00am to 5:00pm
4,Museums,,,,,
5,Mallawi Museum,10 \n5 \n120 \n60 \nFrom 9:00am to 3:00pm,,,,
6,Asyut,"The Egyptian, Greek and Roman Antiquities",,,,
7,Tombs of Meir,10,5,100,50,From 8:00am to 5:00pm
8,Tombs of al-Hammamiyya,10,5,100,50,From 8:00am to 5:00pm
9,Deir al-Muharraq,-,-,-,-,From 9:00am to 5:00pm
10,New Valley \nDakhla Oasis,"The Egyptian, Greek and Roman Antiquities",,,,
11,Tombs of al-Muzawwaqa,10,5,100,50,From 8:00am to 5:00pm
12,Qila al-Dabba & Ayn Asil,10,5,100,50,From 8:00am to 5:00pm
13,Temple of Deir al-Hagar,10,5,100,50,From 8:00am to 5:00pm

In [149]:
df13 = tables[10].df.loc[0: 5].drop([4])
df13.columns = df1.columns
df13.loc[5, 'VisitingTimes'] = 'From 8:00am to 3:00pm'
df13.loc[5, 'ForeignStudent'] = 60

df13.loc[5, 'Foreign'] = 120

df13.loc[5, 'EgyptianStudent'] = 5

df13.loc[5, 'Egyptian'] = 10
df13

,Place,Egyptian,EgyptianStudent,Foreign,ForeignStudent,VisitingTimes
0,Tell al-Amarna,20,10,200,100,From 8:00am to 5:00pm
1,The Royal Tomb,20,10,120,60,From 8:00am to 5:00pm
2,Fraser Tombs,20,10,100,50,From 8:00am to 5:00pm
3,Tombs of Beni Hasan,20,10,200,100,From 8:00am to 5:00pm
5,Mallawi Museum,10,5,120,60,From 8:00am to 3:00pm

In [150]:
minya_df = pd.concat([df12, df13], ignore_index=True)
minya_df['Governorate/City'] = 'El Minya'
minya_df

,Place,Egyptian,EgyptianStudent,Foreign,ForeignStudent,VisitingTimes,Governorate/City
0,Zawyet Sultan,20,10,100,50,From 8:00am to 5:00pm,El Minya
1,Al-Bahnasa,-,-,-,-,From 9:00am to 5:00pm,El Minya
2,Gabal al-Tayr,-,-,-,-,From 9:00am to 5:00pm,El Minya
3,Tuna al-Gabal,20,10,200,100,From 8:00am to 5:00pm,El Minya
4,Tell al-Amarna,20,10,200,100,From 8:00am to 5:00pm,El Minya
5,The Royal Tomb,20,10,120,60,From 8:00am to 5:00pm,El Minya
6,Fraser Tombs,20,10,100,50,From 8:00am to 5:00pm,El Minya
7,Tombs of Beni Hasan,20,10,200,100,From 8:00am to 5:00pm,El Minya
8,Mallawi Museum,10,5,120,60,From 8:00am to 3:00pm,El Minya

In [154]:
asyut_df = tables[10].df.loc[7:9]

asyut_df.columns = df1.columns
asyut_df['Governorate/City'] = 'Asyut'
asyut_df

C:\Users\mosai\AppData\Local\Temp\ipykernel_3612\3399102014.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  asyut_df['Governorate/City'] = 'Asyut'

,Place,Egyptian,EgyptianStudent,Foreign,ForeignStudent,VisitingTimes,Governorate/City
7,Tombs of Meir,10,5,100,50,From 8:00am to 5:00pm,Asyut
8,Tombs of al-Hammamiyya,10,5,100,50,From 8:00am to 5:00pm,Asyut
9,Deir al-Muharraq,-,-,-,-,From 9:00am to 5:00pm,Asyut

In [156]:
df14 = tables[10].df.loc[11:]
df14.columns = df1.columns
df14

,Place,Egyptian,EgyptianStudent,Foreign,ForeignStudent,VisitingTimes
11,Tombs of al-Muzawwaqa,10,5,100,50,From 8:00am to 5:00pm
12,Qila al-Dabba & Ayn Asil,10,5,100,50,From 8:00am to 5:00pm
13,Temple of Deir al-Hagar,10,5,100,50,From 8:00am to 5:00pm

In [157]:
tables[11].df

,0,1,2,3,4,5
0,10 \n5 \n100 \n50 \nFrom 8:00am to 5:00pm \nEz...,,,,,
1,"The Islamic, Coptic, Jewish antiquities",,,,,
2,Al-Qasr,10 \n5 \n100 \n50 \nFrom 8:00am to 5:00pm,,,,
3,Kharga Oasis,"The Egyptian, Greek and Roman Antiquities",,,,
4,Temple of Hibis,10,5,180,90,From 8:00am to 5:00pm
5,Temple of Qasr al-Ghuweita,10,5,100,50,From 8:00am to 5:00pm
6,Temple of Dush (Douch),10,5,100,50,From 8:00am to 5:00pm
7,Temple of Qasr al-Zayyan,10,5,100,50,From 8:00am to 5:00pm
8,"The Islamic, Coptic, Jewish antiquities",,,,,
9,10 \n5 \n120 \n60 \nFrom 8:00am to 5:00pm \nAl...,,,,,
10,Museums,,,,,
11,New Valley Museum,10 \n5 \n150 \n75 \nFrom 9:00am to 3:00pm,,,,
12,Sohag,"The Egyptian, Greek and Roman Antiquities",,,,
13,Temple of Sety (Temple of Abydos),10 \n5 \n260 \n130 \nFrom 7:00am to 5:00pm,,,,

In [163]:
df15 = tables[11].df.loc[:11].drop([1, 3, 8, 10])
df15.columns = df1.columns
df15

,Place,Egyptian,EgyptianStudent,Foreign,ForeignStudent,VisitingTimes
0,10 \n5 \n100 \n50 \nFrom 8:00am to 5:00pm \nEz...,,,,,
2,Al-Qasr,10 \n5 \n100 \n50 \nFrom 8:00am to 5:00pm,,,,
4,Temple of Hibis,10,5,180,90,From 8:00am to 5:00pm
5,Temple of Qasr al-Ghuweita,10,5,100,50,From 8:00am to 5:00pm
6,Temple of Dush (Douch),10,5,100,50,From 8:00am to 5:00pm
7,Temple of Qasr al-Zayyan,10,5,100,50,From 8:00am to 5:00pm
9,10 \n5 \n120 \n60 \nFrom 8:00am to 5:00pm \nAl...,,,,,
11,New Valley Museum,10 \n5 \n150 \n75 \nFrom 9:00am to 3:00pm,,,,

In [164]:
df15.loc[0, 'VisitingTimes'] = 'From 8:00am to 5:00pm'
df15.loc[0, 'ForeignStudent'] = 50
df15.loc[0, 'Foreign'] = 100
df15.loc[0, 'EgyptianStudent'] = 5
df15.loc[0, 'Egyptian'] = 10
df15.loc[0, 'Place'] = 'Ezbet Bashendi'

df15.loc[2, 'VisitingTimes'] = 'From 8:00am to 5:00pm'
df15.loc[2, 'ForeignStudent'] = 50
df15.loc[2, 'Foreign'] = 100
df15.loc[2, 'EgyptianStudent'] = 5
df15.loc[2, 'Egyptian'] = 10


df15.loc[9, 'VisitingTimes'] = 'From 8:00am to 5:00pm'
df15.loc[9, 'ForeignStudent'] = 100
df15.loc[9, 'Foreign'] = 200
df15.loc[9, 'EgyptianStudent'] = 10
df15.loc[9, 'Egyptian'] = 20
df15.loc[9, 'Place'] = 'Al Bagawat'


df15.loc[11, 'VisitingTimes'] = 'From 8:00am to 3:00pm'
df15.loc[11, 'ForeignStudent'] = 75
df15.loc[11, 'Foreign'] = 150
df15.loc[11, 'EgyptianStudent'] = 5
df15.loc[11, 'Egyptian'] = 10
df15

,Place,Egyptian,EgyptianStudent,Foreign,ForeignStudent,VisitingTimes
0,Ezbet Bashendi,10,5,100,50,From 8:00am to 5:00pm
2,Al-Qasr,10,5,100,50,From 8:00am to 5:00pm
4,Temple of Hibis,10,5,180,90,From 8:00am to 5:00pm
5,Temple of Qasr al-Ghuweita,10,5,100,50,From 8:00am to 5:00pm
6,Temple of Dush (Douch),10,5,100,50,From 8:00am to 5:00pm
7,Temple of Qasr al-Zayyan,10,5,100,50,From 8:00am to 5:00pm
9,Al Bagawat,20,10,200,100,From 8:00am to 5:00pm
11,New Valley Museum,10,5,150,75,From 8:00am to 3:00pm

In [165]:
new_valley = pd.concat([df14, df15], ignore_index=True)
new_valley['Governorate/City'] = 'New Valley'
new_valley

,Place,Egyptian,EgyptianStudent,Foreign,ForeignStudent,VisitingTimes,Governorate/City
0,Tombs of al-Muzawwaqa,10,5,100,50,From 8:00am to 5:00pm,New Valley
1,Qila al-Dabba & Ayn Asil,10,5,100,50,From 8:00am to 5:00pm,New Valley
2,Temple of Deir al-Hagar,10,5,100,50,From 8:00am to 5:00pm,New Valley
3,Ezbet Bashendi,10,5,100,50,From 8:00am to 5:00pm,New Valley
4,Al-Qasr,10,5,100,50,From 8:00am to 5:00pm,New Valley
5,Temple of Hibis,10,5,180,90,From 8:00am to 5:00pm,New Valley
6,Temple of Qasr al-Ghuweita,10,5,100,50,From 8:00am to 5:00pm,New Valley
7,Temple of Dush (Douch),10,5,100,50,From 8:00am to 5:00pm,New Valley
8,Temple of Qasr al-Zayyan,10,5,100,50,From 8:00am to 5:00pm,New Valley
9,Al Bagawat,20,10,200,100,From 8:00am to 5:00pm,New Valley
10,New Valley Museum,10,5,150,75,From 8:00am to 3:00pm,New Valley

In [171]:
b = tables[11].df
b.columns = df1.columns
b = b.iloc[-1]
b = b.to_frame().T
b['VisitingTimes'] = 'From 7:00am to 5:00pm'
b['ForeignStudent'] = 130

b['Foreign'] = 260

b['EgyptianStudent'] = 5

b['Egyptian'] = 10
b

,Place,Egyptian,EgyptianStudent,Foreign,ForeignStudent,VisitingTimes
13,Temple of Sety (Temple of Abydos),10,5,260,130,From 7:00am to 5:00pm

In [172]:
tables[12].df

,0,1,2,3,4,5
0,,,,,,
1,Meritamun Temple,10,5,120,60,From 7:00am to 5:00pm
2,Shunet al-Zebib & Kom al-Sultan,10,5,100,50,From 7:00am to 5:00pm
3,Al-Sheikh Hamad (Athribis),10,5,150,75,From 7:00am to 5:00pm
4,Tombs of al-Hawawish,10,5,150,75,From 7:00am to 5:00pm
5,The White Monastery,-,-,-,-,From 9:00am to 5:00pm
6,The Red Monastery,-,-,-,-,From 9:00am to 5:00pm
7,Museums,,,,,
8,Sohag National Museum,20,10,150,75,From 9:00am to 3:00pm
9,Qena,"The Islamic, Coptic, Jewish antiquities",,,,
10,Prince Youssef Kamal Palace,10 \n5 \n100 \n50 \nFrom 8:00am to 5:00pm,,,,
11,"The Egyptian, Greek and Roman Antiquities",,,,,
12,Temple of Dendara,10 \n20,,300 \n150,,From 7:00am to 5:00pm
13,Panorama of the Roof,50,,100,,
14,,,,,,

In [174]:
df16 = tables[12].df.loc[1:8]
df16.columns = df1.columns
df16

,Place,Egyptian,EgyptianStudent,Foreign,ForeignStudent,VisitingTimes
1,Meritamun Temple,10,5,120,60,From 7:00am to 5:00pm
2,Shunet al-Zebib & Kom al-Sultan,10,5,100,50,From 7:00am to 5:00pm
3,Al-Sheikh Hamad (Athribis),10,5,150,75,From 7:00am to 5:00pm
4,Tombs of al-Hawawish,10,5,150,75,From 7:00am to 5:00pm
5,The White Monastery,-,-,-,-,From 9:00am to 5:00pm
6,The Red Monastery,-,-,-,-,From 9:00am to 5:00pm
7,Museums,,,,,
8,Sohag National Museum,20,10,150,75,From 9:00am to 3:00pm

In [175]:
sohag_df = pd.concat([df15, df16], ignore_index=True)
sohag_df['Governorate/City'] = 'Sohag'
sohag_df

,Place,Egyptian,EgyptianStudent,Foreign,ForeignStudent,VisitingTimes,Governorate/City
0,Ezbet Bashendi,10,5,100,50,From 8:00am to 5:00pm,Sohag
1,Al-Qasr,10,5,100,50,From 8:00am to 5:00pm,Sohag
2,Temple of Hibis,10,5,180,90,From 8:00am to 5:00pm,Sohag
3,Temple of Qasr al-Ghuweita,10,5,100,50,From 8:00am to 5:00pm,Sohag
4,Temple of Dush (Douch),10,5,100,50,From 8:00am to 5:00pm,Sohag
5,Temple of Qasr al-Zayyan,10,5,100,50,From 8:00am to 5:00pm,Sohag
6,Al Bagawat,20,10,200,100,From 8:00am to 5:00pm,Sohag
7,New Valley Museum,10,5,150,75,From 8:00am to 3:00pm,Sohag
8,Meritamun Temple,10,5,120,60,From 7:00am to 5:00pm,Sohag
9,Shunet al-Zebib & Kom al-Sultan,10,5,100,50,From 7:00am to 5:00pm,Sohag
10,Al-Sheikh Hamad (Athribis),10,5,150,75,From 7:00am to 5:00pm,Sohag
11,Tombs of al-Hawawish,10,5,150,75,From 7:00am to 5:00pm,Sohag
12,The White Monastery,-,-,-,-,From 9:00am to 5:00pm,Sohag
13,The Red Monastery,-,-,-,-,From 9:00am to 5:00pm,Sohag
14,Museums,,,,,,Sohag
15,Sohag National Museum,20,10,150,75,From 9:00am to 3:00pm,Sohag

In [177]:
df17 = tables[12].df.loc[10:13].drop([11])
df17.columns = df1.columns


df17.loc[10, 'VisitingTimes'] = 'From 8:00am to 5:00pm'
df17.loc[10, 'ForeignStudent'] = 50
df17.loc[10, 'Foreign'] = 100
df17.loc[10, 'EgyptianStudent'] = 5
df17.loc[10, 'Egyptian'] = 10



df17.loc[12, 'ForeignStudent'] = 150
df17.loc[12, 'Foreign'] = 300
df17.loc[12, 'EgyptianStudent'] = 20
df17.loc[12, 'Egyptian'] = 10


df17.loc[13, 'ForeignStudent'] = 100
df17.loc[13, 'EgyptianStudent'] = 50
df17

,Place,Egyptian,EgyptianStudent,Foreign,ForeignStudent,VisitingTimes
10,Prince Youssef Kamal Palace,10,5,100,50,From 8:00am to 5:00pm
12,Temple of Dendara,10,20,300,150,From 7:00am to 5:00pm
13,Panorama of the Roof,50,50,100,100,

In [180]:
df18 = tables[13].df.loc[:5].drop([4])
df18.columns = df1.columns

df18.loc[0, 'ForeignStudent'] = df18.loc[0, 'Egyptian']
df18.loc[0, 'Foreign'] = df18.loc[0, 'Egyptian']
df18.loc[0, 'EgyptianStudent'] = df18.loc[0, 'Egyptian']

df18.loc[5, 'ForeignStudent'] = df18.loc[5, 'Egyptian']
df18.loc[5, 'Foreign'] = df18.loc[5, 'Egyptian']
df18.loc[5, 'EgyptianStudent'] = df18.loc[5, 'Egyptian']



df18

,Place,Egyptian,EgyptianStudent,Foreign,ForeignStudent,VisitingTimes
0,Parking Tickets in Temple of Dendara,Car EGY 25â€“ Minibus EGY 75 â€“ Bus EGY 100,Car EGY 25â€“ Minibus EGY 75 â€“ Bus EGY 100,Car EGY 25â€“ Minibus EGY 75 â€“ Bus EGY 100,Car EGY 25â€“ Minibus EGY 75 â€“ Bus EGY 100,
1,Temple of Esna,20,10,200,100,"From 7:00am to 5:00pm \n Sunday,Tuesday,Frid..."
2,Temple of Tod,10,5,100,50,From 7:00am to 5:00pm
3,Tombs of al-Moalla,10,5,100,50,From 7:00am to 5:00pm
5,Wikalat al-Giddawy,Within Esna Temple Ticket,Within Esna Temple Ticket,Within Esna Temple Ticket,Within Esna Temple Ticket,"From 7:00am to 5:00pm \n Sunday,Tuesday,Frid..."

In [181]:
qena_df = pd.concat([df17, df18], ignore_index=True)

qena_df['Governorate/City'] = 'Qena'

qena_df

,Place,Egyptian,EgyptianStudent,Foreign,ForeignStudent,VisitingTimes,Governorate/City
0,Prince Youssef Kamal Palace,10,5,100,50,From 8:00am to 5:00pm,Qena
1,Temple of Dendara,10,20,300,150,From 7:00am to 5:00pm,Qena
2,Panorama of the Roof,50,50,100,100,,Qena
3,Parking Tickets in Temple of Dendara,Car EGY 25â€“ Minibus EGY 75 â€“ Bus EGY 100,Car EGY 25â€“ Minibus EGY 75 â€“ Bus EGY 100,Car EGY 25â€“ Minibus EGY 75 â€“ Bus EGY 100,Car EGY 25â€“ Minibus EGY 75 â€“ Bus EGY 100,,Qena
4,Temple of Esna,20,10,200,100,"From 7:00am to 5:00pm \n Sunday,Tuesday,Frid...",Qena
5,Temple of Tod,10,5,100,50,From 7:00am to 5:00pm,Qena
6,Tombs of al-Moalla,10,5,100,50,From 7:00am to 5:00pm,Qena
7,Wikalat al-Giddawy,Within Esna Temple Ticket,Within Esna Temple Ticket,Within Esna Temple Ticket,Within Esna Temple Ticket,"From 7:00am to 5:00pm \n Sunday,Tuesday,Frid...",Qena

In [183]:
df19 = tables[13].df.loc[7:]
df19.columns = df1.columns

df19.loc[10, 'ForeignStudent'] = df19.loc[10, 'Egyptian']
df19.loc[10, 'Foreign'] = df19.loc[10, 'Egyptian']
df19.loc[10, 'EgyptianStudent'] = df19.loc[10, 'Egyptian']


df19

C:\Users\mosai\AppData\Local\Temp\ipykernel_3612\1247220392.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df19.loc[10, 'ForeignStudent'] = df19.loc[10, 'Egyptian']
C:\Users\mosai\AppData\Local\Temp\ipykernel_3612\1247220392.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df19.loc[10, 'Foreign'] = df19.loc[10, 'Egyptian']
C:\Users\mosai\AppData\Local\Temp\ipykernel_3612\1247220392.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df19.loc[10, 'EgyptianStudent'] = df19.loc[10, 'Egyptian']

,Place,Egyptian,EgyptianStudent,Foreign,ForeignStudent,VisitingTimes
7,Karnak Temples,40,20,600,300,From 6:00am to 5:00pm
8,Temple of Mut,10,5,200,100,From 6:00am to 5:00pm
9,Luxor Temple,40,20,500,250,From 6:00am to 8:00pm
10,Sphinx Avenue,Make sure to purchase tickets of Karnak and Lu...,Make sure to purchase tickets of Karnak and Lu...,Make sure to purchase tickets of Karnak and Lu...,Make sure to purchase tickets of Karnak and Lu...,
11,Valley of the Kings,60,30,750,375,From 6:00am to 5:00pm
12,Tomb of Tutankhamun,40,20,700,350,From 6:00am to 5:00pm
13,"Tomb of Rameses V,VI",30,10,220,110,From 6:00am to 5:00pm

In [186]:
df20 = tables[14].df.loc[1:]
df20.columns = df1.columns

df20.loc[1, 'ForeignStudent'] = df20.loc[1, 'Foreign']
df20.loc[8, 'ForeignStudent'] = df20.loc[8, 'Foreign']
df20

C:\Users\mosai\AppData\Local\Temp\ipykernel_3612\4105138799.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df20.loc[1, 'ForeignStudent'] = df20.loc[1, 'Foreign']
C:\Users\mosai\AppData\Local\Temp\ipykernel_3612\4105138799.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df20.loc[8, 'ForeignStudent'] = df20.loc[8, 'Foreign']

,Place,Egyptian,EgyptianStudent,Foreign,ForeignStudent,VisitingTimes
1,Tomb of Sety I,500,250,2000,2000,From 6:00am to 5:00pm
2,Tomb of Ay,10,5,200,100,From 6:00am to 5:00pm
3,Temple of Hatshepsut,40,20,440,220,From 6:00am to 5:00pm
4,Deir al-Medina,10,5,220,110,From 6:00am to 5:00pm
5,Tomb of Pashedu,10,5,120,60,From 6:00am to 5:00pm
6,Medinet Habu,20,10,220,110,From 6:00am to 5:00pm
7,Valley of the Queens,30,10,220,110,From 6:00am to 5:00pm
8,Tomb of Nefertari,600,300,2500,2500,From 6:00am to 5:00pm
9,Tomb of Ramose,20,10,200,100,From 6:00am to 5:00pm
10,Ramesseum,20,10,220,110,From 6:00am to 5:00pm
11,Carterâ€²s House and Replica Tomb of \nTut...,10,5,220,110,From 6:00am to 5:00pm
12,Tombs of Menna and Nakht,20,10,200,100,From 6:00am to 5:00pm

In [187]:
df21 = tables[15].df.drop([11])
df21.columns = df1.columns
df21

,Place,Egyptian,EgyptianStudent,Foreign,ForeignStudent,VisitingTimes
0,Tombs of Rekhmire and Sennefer,10,5,120,60,From 6:00am to 5:00pm
1,Temple of Sety l,10,5,200,100,From 6:00am to 5:00pm
2,Tombs of Userhat and Khonsu,10,5,120,60,From 6:00am to 5:00pm
3,Tombs of al-Asasif,10,5,200,100,From 6:00am to 5:00pm
4,Tomb of Pabasa,10,5,100,50,From 6:00am to 5:00pm
5,Tombs of al-Khokha,10,5,120,60,From 6:00am to 5:00pm
6,Tombs of Roy and Shuroy,20,10,120,60,From 6:00am to 5:00pm
7,Temple of Isis,10,5,100,50,From 6:00am to 5:00pm
8,Qurnet Murai,10,5,120,60,From 6:00am to 5:00pm
9,Temple of Merenptah,10,5,100,50,From 6:00am to 5:00pm
10,Colossi of Memnon,-,-,-,-,From 6:00am to 5:00pm
12,Mummification Museum,20,5,220,110,From 9:00am to 1:00pm \nFrom 5:00pm to 8:00pm
13,Luxor Museum,30,10,400,200,From 9:00am to 1:00pm \nFrom 5:00pm to 8:00pm

In [193]:
c = tables[16].df
c.columns = df1.columns
c = c.loc[0]
c = c.to_frame().T
c['Egyptian'] = 30
c['EgyptianStudent'] = 30
c['Foreign'] = 50
c['ForeignStudent'] = 50
c

,Place,Egyptian,EgyptianStudent,Foreign,ForeignStudent,VisitingTimes
0,Audio guide (Luxor Museum),30,30,50,50,

In [194]:
luxor_df = pd.concat([df19, df20, df21, c], ignore_index=True)
luxor_df['Governorate/City'] = 'Luxor'
luxor_df

,Place,Egyptian,EgyptianStudent,Foreign,ForeignStudent,VisitingTimes,Governorate/City
0,Karnak Temples,40,20,600,300,From 6:00am to 5:00pm,Luxor
1,Temple of Mut,10,5,200,100,From 6:00am to 5:00pm,Luxor
2,Luxor Temple,40,20,500,250,From 6:00am to 8:00pm,Luxor
3,Sphinx Avenue,Make sure to purchase tickets of Karnak and Lu...,Make sure to purchase tickets of Karnak and Lu...,Make sure to purchase tickets of Karnak and Lu...,Make sure to purchase tickets of Karnak and Lu...,,Luxor
4,Valley of the Kings,60,30,750,375,From 6:00am to 5:00pm,Luxor
5,Tomb of Tutankhamun,40,20,700,350,From 6:00am to 5:00pm,Luxor
6,"Tomb of Rameses V,VI",30,10,220,110,From 6:00am to 5:00pm,Luxor
7,Tomb of Sety I,500,250,2000,2000,From 6:00am to 5:00pm,Luxor
8,Tomb of Ay,10,5,200,100,From 6:00am to 5:00pm,Luxor
9,Temple of Hatshepsut,40,20,440,220,From 6:00am to 5:00pm,Luxor
10,Deir al-Medina,10,5,220,110,From 6:00am to 5:00pm,Luxor
11,Tomb of Pashedu,10,5,120,60,From 6:00am to 5:00pm,Luxor
12,Medinet Habu,20,10,220,110,From 6:00am to 5:00pm,Luxor
13,Valley of the Queens,30,10,220,110,From 6:00am to 5:00pm,Luxor
14,Tomb of Nefertari,600,300,2500,2500,From 6:00am to 5:00pm,Luxor
15,Tomb of Ramose,20,10,200,100,From 6:00am to 5:00pm,Luxor
16,Ramesseum,20,10,220,110,From 6:00am to 5:00pm,Luxor
17,Carterâ€²s House and Replica Tomb of \nTut...,10,5,220,110,From 6:00am to 5:00pm,Luxor
18,Tombs of Menna and Nakht,20,10,200,100,From 6:00am to 5:00pm,Luxor
19,Tombs of Rekhmire and Sennefer,10,5,120,60,From 6:00am to 5:00pm,Luxor
20,Temple of Sety l,10,5,200,100,From 6:00am to 5:00pm,Luxor
21,Tombs of Userhat and Khonsu,10,5,120,60,From 6:00am to 5:00pm,Luxor
22,Tombs of al-Asasif,10,5,200,100,From 6:00am to 5:00pm,Luxor
23,Tomb of Pabasa,10,5,100,50,From 6:00am to 5:00pm,Luxor
24,Tombs of al-Khokha,10,5,120,60,From 6:00am to 5:00pm,Luxor
25,Tombs of Roy and Shuroy,20,10,120,60,From 6:00am to 5:00pm,Luxor
26,Temple of Isis,10,5,100,50,From 6:00am to 5:00pm,Luxor
27,Qurnet Murai,10,5,120,60,From 6:00am to 5:00pm,Luxor
28,Temple of Merenptah,10,5,100,50,From 6:00am to 5:00pm,Luxor
29,Colossi of Memnon,-,-,-,-,From 6:00am to 5:00pm,Luxor
30,Mummification Museum,20,5,220,110,From 9:00am to 1:00pm \nFrom 5:00pm to 8:00pm,Luxor
31,Luxor Museum,30,10,400,200,From 9:00am to 1:00pm \nFrom 5:00pm to 8:00pm,Luxor
32,Audio guide (Luxor Museum),30,30,50,50,,Luxor

In [196]:
df22 = tables[16].df.loc[2:].drop([3])
df22.columns = df1.columns

df22.loc[2, 'VisitingTimes'] = 'From 7:00am to 5:00pm'
df22.loc[2, 'ForeignStudent'] = 50
df22.loc[2, 'Foreign'] = 100
df22.loc[2, 'EgyptianStudent'] = 5
df22.loc[2, 'Egyptian'] = 10

df22.loc[6, 'ForeignStudent'] = df22.loc[6, 'Egyptian']
df22.loc[6, 'Foreign'] = df22.loc[6, 'Egyptian']
df22.loc[6, 'EgyptianStudent'] = df22.loc[6, 'Egyptian']

df22.loc[11, 'ForeignStudent'] = df22.loc[11, 'Egyptian']
df22.loc[11, 'Foreign'] = df22.loc[11, 'Egyptian']
df22.loc[11, 'EgyptianStudent'] = df22.loc[11, 'Egyptian']


df22.loc[12, 'ForeignStudent'] = 100
df22.loc[12, 'Foreign'] = 200
df22.loc[12, 'EgyptianStudent'] = 10
df22.loc[12, 'Egyptian'] = 20
df22

,Place,Egyptian,EgyptianStudent,Foreign,ForeignStudent,VisitingTimes
2,Monastery of St Simeon,10,5,100,50,From 7:00am to 5:00pm
4,Abu Simbel Temples,30,10,750,375,From 6:00am to 5:00pm
5,Celebrating the Sun Alignment on \n22 October...,60,20,1200,600,From 6:00am to 5:00pm \n(Plus alignment Time)
6,Parking Tickets in the Abu Simbel \nTemples,Car EGY 25 â€“ Minibus EGY 75 â€“ Bus EGY 100,Car EGY 25 â€“ Minibus EGY 75 â€“ Bus EGY 100,Car EGY 25 â€“ Minibus EGY 75 â€“ Bus EGY 100,Car EGY 25 â€“ Minibus EGY 75 â€“ Bus EGY 100,
7,Temple of Philae,40,20,550,275,From 7:00am to 4:00pm
8,Panorama of the Temples of Philae,40,20,200,100,From 7:00am to 4:00pm
9,Temple of Edfu,40,20,550,275,"From 7:00am to 5:00pm \nSunday,Wednesday \nFr..."
10,Temple of Kom Ombo,40,20,450,225,From 7:00am to 9:00pm
11,Parking Tickets in the Temple of Kom \nOmbo,Car EGY 25â€“ Minibus EGY 50 â€“ Bus EGY 100,Car EGY 25â€“ Minibus EGY 50 â€“ Bus EGY 100,Car EGY 25â€“ Minibus EGY 50 â€“ Bus EGY 100,Car EGY 25â€“ Minibus EGY 50 â€“ Bus EGY 100,
12,Qubbet al-Hawa,20,10,200,100,From 7:00am to 4:00pm

In [198]:
df23 = tables[17].df.loc[0:11].drop([9])
df23.columns = df1.columns

df23.loc[11, 'ForeignStudent'] = df23.loc[11, 'Egyptian']
df23.loc[11, 'Foreign'] = df23.loc[11, 'Egyptian']
df23.loc[11, 'EgyptianStudent'] = df23.loc[11, 'Egyptian']

df23

,Place,Egyptian,EgyptianStudent,Foreign,ForeignStudent,VisitingTimes
0,Elephantine Island,20,10,200,100,From 8:00am to 4:00pm
1,Unfinished Obelisk,20,10,220,110,From 7:00am to 4:00pm
2,Temple of Kalabsha,10,5,200,100,From 7:00am to 4:00pm
3,Al-Kab,10,5,200,100,From 7:00am to 5:00pm
4,Temples of Amada,10,5,150,75,From 7:00am to 4:00pm
5,Temples of Wadi al-Sebua,10,5,150,75,From 7:00am to 4:00pm
6,Sehel Island,10,5,100,50,From 7:00am to 4:00pm
7,Gebel al-Silsila,10,5,100,50,From 7:00am to 4:00pm
8,Temple of Isis,10,5,150,75,From 7:00am to 4:00pm
10,Nubia Museum,30,10,400,200,"From 9:00am to 5:00pm \nThursday, Friday \nFro..."
11,Crocodile Museum,Within Kom Ombo Temple,Within Kom Ombo Temple,Within Kom Ombo Temple,Within Kom Ombo Temple,From 7:00am to 9:00pm

In [199]:
aswan_df = pd.concat([df22, df23], ignore_index=True)
aswan_df['Governorate/City'] = 'Aswan'
aswan_df

,Place,Egyptian,EgyptianStudent,Foreign,ForeignStudent,VisitingTimes,Governorate/City
0,Monastery of St Simeon,10,5,100,50,From 7:00am to 5:00pm,Aswan
1,Abu Simbel Temples,30,10,750,375,From 6:00am to 5:00pm,Aswan
2,Celebrating the Sun Alignment on \n22 October...,60,20,1200,600,From 6:00am to 5:00pm \n(Plus alignment Time),Aswan
3,Parking Tickets in the Abu Simbel \nTemples,Car EGY 25 â€“ Minibus EGY 75 â€“ Bus EGY 100,Car EGY 25 â€“ Minibus EGY 75 â€“ Bus EGY 100,Car EGY 25 â€“ Minibus EGY 75 â€“ Bus EGY 100,Car EGY 25 â€“ Minibus EGY 75 â€“ Bus EGY 100,,Aswan
4,Temple of Philae,40,20,550,275,From 7:00am to 4:00pm,Aswan
5,Panorama of the Temples of Philae,40,20,200,100,From 7:00am to 4:00pm,Aswan
6,Temple of Edfu,40,20,550,275,"From 7:00am to 5:00pm \nSunday,Wednesday \nFr...",Aswan
7,Temple of Kom Ombo,40,20,450,225,From 7:00am to 9:00pm,Aswan
8,Parking Tickets in the Temple of Kom \nOmbo,Car EGY 25â€“ Minibus EGY 50 â€“ Bus EGY 100,Car EGY 25â€“ Minibus EGY 50 â€“ Bus EGY 100,Car EGY 25â€“ Minibus EGY 50 â€“ Bus EGY 100,Car EGY 25â€“ Minibus EGY 50 â€“ Bus EGY 100,,Aswan
9,Qubbet al-Hawa,20,10,200,100,From 7:00am to 4:00pm,Aswan
10,Elephantine Island,20,10,200,100,From 8:00am to 4:00pm,Aswan
11,Unfinished Obelisk,20,10,220,110,From 7:00am to 4:00pm,Aswan
12,Temple of Kalabsha,10,5,200,100,From 7:00am to 4:00pm,Aswan
13,Al-Kab,10,5,200,100,From 7:00am to 5:00pm,Aswan
14,Temples of Amada,10,5,150,75,From 7:00am to 4:00pm,Aswan
15,Temples of Wadi al-Sebua,10,5,150,75,From 7:00am to 4:00pm,Aswan
16,Sehel Island,10,5,100,50,From 7:00am to 4:00pm,Aswan
17,Gebel al-Silsila,10,5,100,50,From 7:00am to 4:00pm,Aswan
18,Temple of Isis,10,5,150,75,From 7:00am to 4:00pm,Aswan
19,Nubia Museum,30,10,400,200,"From 9:00am to 5:00pm \nThursday, Friday \nFro...",Aswan
20,Crocodile Museum,Within Kom Ombo Temple,Within Kom Ombo Temple,Within Kom Ombo Temple,Within Kom Ombo Temple,From 7:00am to 9:00pm,Aswan

In [201]:
redsea_df = tables[18].df.loc[0:5].drop([3])
redsea_df.columns = df1.columns
redsea_df['Governorate/City'] = 'Redsea'
redsea_df

,Place,Egyptian,EgyptianStudent,Foreign,ForeignStudent,VisitingTimes,Governorate/City
0,Al-Quseir Citadel,10,5,100,50,From 9:00am to 5:00pm,Redsea
1,Monastery of St Paul,-,-,-,-,,Redsea
2,Monastery of St Anthony,-,-,-,-,,Redsea
4,Hurghada Museum,80,40,200,100,From 10:00am to 1:00pm \n From 5:00pm to 11:00pm,Redsea
5,Audio guide (Hurghada Museum),30,30,50,50,,Redsea

In [202]:
south_sinai = tables[18].df.loc[7:].drop([9])
south_sinai.columns = df1.columns
south_sinai['Governorate/City'] = 'South Sinai'
south_sinai

,Place,Egyptian,EgyptianStudent,Foreign,ForeignStudent,VisitingTimes,Governorate/City
7,Salah al-Din Citadel (Taba),20,10,400,200,From 9:00am to 5:00pm,South Sinai
8,St Catherineâ€™s Monastery,-,-,-,-,From 8:45am to 12:45pm \nFriday \nFrom 10:30am...,South Sinai
10,Sharm al-Sheikh Museum,40,20,200,100,From 10:00am to 1:00pm \n From 5:00pm to 11:00pm,South Sinai
11,Audio guide (Sharm al-Sheikh Museum),30,30,50,50,,South Sinai

In [203]:
all_dfs = [cairo_df, giza_df, alexandria_df, suez_df, ismailia_df, matruf_df, beheira_df, kafr_elsheikh_df, gharbia_df, alsharqiya_df, fayoum_df, beniSuef, minya_df, asyut_df, new_valley, sohag_df, qena_df, luxor_df, aswan_df, redsea_df, south_sinai]
egypt = pd.concat(all_dfs, ignore_index=True)

egypt

,Place,Egyptian,EgyptianStudent,Foreign,ForeignStudent,VisitingTimes,Governorate/City
0,Salah al-Din al-Ayyubi Citadel,60,30,550,275,From 8:00am to 5:00pm,Cairo
1,Baron Empain Palace,60,30,220,110,From 9:00am to 6:00pm,Cairo
2,Panorama of the Roof,30,30,120,120,,Cairo
3,AI-Mu'izz Street,20,10,220,110,From 9:00am to 5:00pm,Cairo
4,Madrasa of Sultan Hassan & Al-Rifaâ€™i \nMosque,-,-,220,110,From 9:00am to 5:00pm,Cairo
...,...,...,...,...,...,...,...
203,Audio guide (Hurghada Museum),30,30,50,50,,Redsea
204,Salah al-Din Citadel (Taba),20,10,400,200,From 9:00am to 5:00pm,South Sinai
205,St Catherineâ€™s Monastery,-,-,-,-,From 8:45am to 12:45pm \nFriday \nFrom 10:30am...,South Sinai
206,Sharm al-Sheikh Museum,40,20,200,100,From 10:00am to 1:00pm \n From 5:00pm to 11:00pm,South Sinai
207,Audio guide (Sharm al-Sheikh Museum),30,30,50,50,,South Sinai

In [205]:
egypt.to_csv('egypt.csv', encoding='utf-8', index=False)